.about-us{
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;

        .row{
            margin: 0 0;
        }

        .col{
            padding: 0 0;
        }
    }

    .swiper-pagination{
        border: 2px solid $white;
        border-radius: 0 50%;
        background-color: rgba($black, .6);
        height: $air-double;
        display: inline-block;
        -webkit-border-radius: 20px;
    	-moz-border-radius: 20px;
    	border-radius: 20px;
        left: 50%;
        width: auto;
        @include transform(translateX(-50%));

        .swiper-pagination-bullet-active{
            background-color: $white;
        }
    }

    background: #2c3a45;
    padding-top: $air-double;

    h2.section-title{
        color: $white;
        border-color: $white;
        margin: 0 $air-plus $air-double * 2;
    }

    .info-wrapper{
        color: $white;
        padding: 0 $air-plus 0;
        .name{
            font-size: 20px;
            margin-bottom: $air;
            font-weight: 700;
        }
        .description{
            font-size: 15px;
            margin-bottom: $air-double;
            font-weight: 700;
            line-height: 1.2em;
        }

        .social{
            margin-bottom: $air-plus;
            vertical-align: middle;

            > *{
                vertical-align: middle;
                display: inline-block;
            }

            i.fa{
                font-size: 20px;
            }

            span{
                font-size: 13px;
                font-weight: 700;
                display: inline-block;
            }
        }

        a.btn{
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
