.alert-obj{
    background: $turquise;
    color:$white;
    font-weight: 700;
    min-height: 60px;

    .logo-wrapper{
        background-color: $green;
        padding: $air $air;
        min-width: 53px;
        position: relative;

        figure.figure{
            position: absolute;
            top: 50%;
            left: 50%;

            @include transform(translate(-50%, -50%));

            img{
                min-width: 33px;
                height: auto;
            }
        }
    }

    .col{
        background: $turquise;
    }
    .title{
        font-size: 16px;
        padding: $air 0;
    }
}
