.capitulos-completos {
    background-color: #e3e3e3;
    padding-top: $air + $air-plus;
    padding-bottom: $air + $air-plus;
    margin-bottom: $air-plus;
    padding-left: $air;

    .video {
        figure.figure {
            position: relative;

            i.player {
                position: absolute;
                width: 33px;
                height: 33px;
                right: $air;
                top: $air;
            }

            img {
                width: 100%;
            }
        }

        .info-wrapper {
            background-color: $grayDefault;
            padding: $air-double;
            color: $white;
        }

        .emission-date {
            font-size: 16px;
            margin-bottom: $air-half;
            text-transform: uppercase;
            color: darken($white, 10%);
        }

        h2.title {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: $air;
        }
    }
}