.countdown{
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    baground-color:$black;
    .info-wrapper{
        position: absolute;
        top: 10%;
        color: $white;
    }
    img{
        margin:0 auto;
    }
    .title{
        font-size: 18px;
        color: $white;
        width: 55%;
        margin: 0 auto;
        font-weight: 700;
        margin-bottom: $air-double;
        text-transform: uppercase;
        text-align: center;
        padding-top: $air-double;
    }
    .time{
        background: $white;
        color: $rojoVivo;
        text-transform: uppercase;
        max-width: 50%;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        margin: $air-double auto;
    }
    #clock{
        display: block;
        width: 210px;
        margin: 0 auto;
        span{
            font-size: 50px;
            font-family: $roboto;
            text-align: center;
            &+span{
                margin-left: $air-double;
            }
            label{
                font-size: 20px;
                font-weight: 700;
                color:$grisGrillaColor;
            }
        }
    }
    .notificarme{
        background: $rojoVivo;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        max-width: 40%;
        font-weight: 600;
        margin: $air-double*2 auto;
        display: block;
        line-height: 30px;
    }
}
