$colores-programas: (
    rojo: (color: $rojoOscuro, esClaro: false, cambiaColorFondo: false),
    celeste: (color: $lightblue, esClaro: true, cambiaColorFondo: true),
    lila: (color: $lila, esClaro:false, cambiaColorFondo:true),
    naranja: (color: $orange, esClaro:false, cambiaColorFondo:false)
);
@each $color, $color-values in $colores-programas {
    body.show.#{$color} {
        .opening-show {
            .info-wrapper {
                background-color: map-get($color-values, color);
                @if map-get($color-values, esClaro) {
                    color: $black;
                } @else {
                    color: $white;
                }
            }
        }

        .programas-completos {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            .video {
                .info-wrapper {
                    background-color: map-get($color-values, color);
                    @if map-get($color-values, esClaro) {
                        color: $black;
                    } @else {
                        color: $white;
                    }
                }
            }
        }

        .videos-list {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            .info-wrapper {
                @if map-get($color-values,cambiaColorFondo) {
                    background-color: map-get($color-values, color);
                } @else {
                    background-color: $black;
                }
            }
        }

        .programa-de-hoy {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            .video {
                .figure {
                    .info-wrapper {
                        span.badge {
                            color: map-get($color-values, color);
                        }
                    }
                }
            }
        }

        .top-views {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            figure.figure {
                &::before {
                    background-color: map-get($color-values, color);
                }

                .info-wrapper {
                    background-color: map-get($color-values, color);

                    .title,
                    span.badge {
                        @if map-get($color-values, esClaro) {
                            color: $black;
                        } @else {
                            color: $white;
                        }
                    }
                }
            }
        }

        .about-us {
            background-color: map-get($color-values, color);

            .info-wrapper,
            .section-title {
                @if map-get($color-values, esClaro) {
                    color: $black;
                } @else {
                    color: $white;
                }
            }
        }

        .highlight-videos-wrapper {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            .highlight-video {
                figure.figure {
                    span.badge {
                        color: map-get($color-values, color);
                    }
                }
            }
        }

        .capitulos-completos {
            .section-title {
                color: map-get($color-values, color);
                border-color: map-get($color-values, color);
            }

            .video {
                .info-wrapper {
                    background-color: map-get($color-values, color);
                }
            }
        }
    }
}