footer{
    background: $black;
    color:$grisGrillaColor;
    padding-top:$air-double*2;
    padding-bottom:$air-double*2;
    font-size: 40px;
    .social{
        margin-top: -5px;
        margin-bottom: 15px;
        a{
            color:$white;
            font-size: 30px;
        }
        li+li{
            margin-left: $air-double;
        }
    }
    .w-100:before{
        content: "";
        border-bottom: 1px solid $white;
        width: calc(100vw + 30px);
        display: block;
        opacity: .5;
        margin-bottom: $air-plus * 2;
        margin-left: -15px;
    }
    .link-footer{
        display: inline-block;
        ul{
            padding-bottom: $air-double * 2;
        }
        li,a{
            font-family: $roboto;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.2em;
            text-decoration: none;
        }
        li+li{
            padding-top:$air;
        }
    }
    h2{
        color:$lightblue;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: $air-double;
        &:after{
            content:"\f078";
            font:normal normal normal 14px/1 FontAwesome;
            text-align: right;
            position: absolute;
            right: $air*2;
            color:$white;
            @include transition(all 250ms ease);
        }
    }
    [aria-expanded="true"] h2:after{
        transform:rotate(180deg);
    }
    .logo-D2{
        margin-top: $air-double;
    }
}
