.grilla{
    background: $white;
    text-align: center;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
    height: auto;
    @include transition(all 250ms ease);
    &.fixed{
        position: fixed;
        bottom: 0;
        transform: translateY(calc(100% + -35px));
    }
    span{
        color:$rojoVivo;
        font-weight: 700;
        font-size: 17px;
        padding-top: $air;
        padding-bottom: $air;
        display: inline-block;
        width: 100%;
    }
    .close{
        font-family: $work-sans;
        color: $black;
        opacity: 1;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 20px;
        padding:$air-half;
        position: absolute;
        top:0;
        right: 0;
        width: auto;
    }
    .live{
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid $grisGrillaColor;
        padding-bottom: $air-double;
    }
    .separator{
        color:$lightblue;
        font-size: 17px;
        font-weight: 700;
        padding:$air-plus;
    }

    .time{
        font-size: 16px;
        color:$grisGrillaLinea;
    }
    .title{
        font-size: 21px;
        font-weight: 300;
        border-bottom: 1px solid $grisGrillaColor;
        padding-bottom: $air;
        margin-bottom: $air;
    }
}
