.highlight-videos-wrapper {
    padding-top: $air-plus;
    margin-bottom: $air-plus;
    padding-left: $air;

    .highlight-video {
        figure.figure {
            position: relative;

            i.player {
                position: absolute;
                width: 33px;
                height: 33px;
                right: $air;
                top: $air;
            }

            img {
                width: 100%;
            }

            .info-wrapper {
                position: absolute;
                left: $air;
                bottom: $air;
                background-color: rgba($white, 0.85);
                padding: $air $air-plus;
                max-width: calc(80% - #{$air-double});
            }

            span.badge {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: $air;
            }

            h2.title {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}

.widget {
    .highlight-videos-wrapper {
        padding: 0;
    }
}