.ingresar-en-vivo{
    background: $black;
    text-align: center;
    color: $white;
    padding: $air-plus*2 0;
    margin-bottom: $air-plus;
    p{
        font-size:17px;
        font-weight: 600;
    }
    .btn-outline-secondary{
        font-size: 14px;
        margin-top: $air;
    }
}
