nav.navbar{
    background-color: $bg-header;
    padding-top: $air-half;
    padding-bottom: $air-half;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;

    button.navbar-toggler{
        .fa-bars{
            font-size: 25px;
        }

        &:hover,
        &:active{
            background-color: transparent;
        }
    }

    .navbar-nav{
        .nav-item{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            padding: 0 $air-plus;

            &.active{

                .nav-link{
                    border-left: 3px solid;
                    border-color: $lightblue;
                }
            }
        }

        .nav-link{
            color: $white;
            padding: 0 0;
            margin: $air 0;
            padding-left: $air-double;
        }
    }
}

body.blockMenu{
    overflow: hidden;
}
.animationMenu{
    position: fixed;
    top: 46px;
    width: 100vw;
    height: calc(100vh - 46px);
    background: $bg-header;
    left: 0;
    margin: 0 !important;
    transform:translateX(-100%);
    display:block;
    @include transition(transform .3s);
    z-index: 2;
    a{
        line-height: 35px;
    }
}
.showMenu{
    transform: translateX(0);
}
