.opening-show{
    > figure.figure{
        width: 100%;

        img{
            width: 100%;
            height: auto;
        }
    }

    .info-wrapper{
        padding: $air-double $air-plus;
        color: $white;
        background: $grayDefault;
        text-align: center;

        .show-logo{

            margin-bottom: $air-double;

            img{
                margin-left: auto;
                margin-right: auto;
                min-width: 250px;
                height: auto;
            }
        }

        span.day-and-hour{
            display: block;
            font-weight: 22px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: $air-double;
        }

        .description{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: $air * 3;
            line-height: 1.2em;
        }

        a.btn{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 15px;
            margin-bottom: $air * 3;
            padding: $air-plus $air-double;
        }

        .socials-networks-wrapper{
            .social-item{
                display: inline-block;
                margin-right: $air-plus + $air;
                font-size: 30px;
            }

            ul{
                li.social-item{
                    &:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
