.opening-live{

    position: relative;
    background: $black;
    // Si no estas loggeado
    .layer-login{
        display: none;
    }

    &.not-logged{
        min-height: 315px;
        [data-headerfixed]{
            display: none;
        }
        .container{
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                min-width: 100vw;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $black;
                @include horizontal-align;
            }
        }
        .layer-login{
            padding-top: $air;
            display: block;
            position: absolute;
            z-index: 2;
            left: $air-plus*2;
            right: $air-plus*2;
            text-align: center;

            .quote{
                display: block;
                font-size: 35px;
                color: $white;
                font-weight: 700;
                max-width: 75%;
                margin: 0 auto $air * 5;
            }

            .btn{
                text-transform: uppercase;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                padding: $air $air * 3;

                &:hover{
                    color: $black;
                }
            }


            .form-wrapper{
                max-width: 350px;
            }

            .form-title{
                font-size: 20px;
                text-align: left;
            }

            .registrarse-link{
                font-size: 15px;
                text-align: right;
                display: inline-block;
                border-bottom: 2px solid $lightblue;
                opacity: 0.8;
                padding-bottom: $air-half;
                &:hover{
                    text-decoration: none;
                }
            }

            .form-title,
            .registrarse-link{
                text-transform: capitalize;
                font-weight: 400;
                color: $white;
            }

            .form-title-wrapper{
                margin-bottom: $air;
            }

            form{
                text-align: left;

                label{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $white !important;
                }

                input:not([type]):focus:not([readonly]),
                input[type=text]:not(.browser-default):focus:not([readonly]),
                input[type=password]:not(.browser-default):focus:not([readonly]),
                input[type=email]:not(.browser-default):focus:not([readonly]),
                input[type=url]:not(.browser-default):focus:not([readonly]),
                input[type=time]:not(.browser-default):focus:not([readonly]),
                input[type=date]:not(.browser-default):focus:not([readonly]),
                input[type=datetime]:not(.browser-default):focus:not([readonly]),
                input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
                input[type=tel]:not(.browser-default):focus:not([readonly]),
                input[type=number]:not(.browser-default):focus:not([readonly]),
                input[type=search]:not(.browser-default):focus:not([readonly]),
                textarea.materialize-textarea:focus:not([readonly]){
                    border-color: $white;
                    box-shadow: 0 1px 0 0 $white;
                }

                input{
                    margin-bottom: 0;
                    color: $white;
                    font-size: 18px;
                    font-weight: 300;
                }

                .form-group{
                    margin: 0 0 $air-double;
                }

                .password-recovery{
                    color: $white;
                    font-size: 15px;
                    text-decoration: underline;
                    font-weight: 300;
                    margin-bottom: $air-plus * 2;
                    display: inline-block;
                }

                button.btn{
                    width: 100%;
                    display: block;
                    font-weight: 400;
                    font-size: 18px;
                    letter-spacing: 3px;
                }

                .input-field label:not(.label-icon).active{
                    @include transform(translateY(-14px) scale(1));
                }
            }

        }
    }
    [data-headerfixed]{
        font-size: 18px;
        padding: $air;
        position: absolute;
        z-index: 2;
        background: rgba(0,0,0,.6);
        width: 100vw;
        font-weight: 600;
    }
    .live-player{
        position: relative;
        z-index: 1;
        margin: 0 -15px;

        .player{
            width: 100vw;
            max-width: 100vw;
            height: auto;
            display: block;
        }
    }

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: $work-sans !important;
    font-weight: 500;
    color:$white;
    font-size: 15px;
    letter-spacing: 2px;
     opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: $work-sans !important;
    font-weight: 500;
    color:$white;
    font-size: 15px;
    letter-spacing: 2px;
     opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: $work-sans !important;
    font-weight: 500;
    color:$white;
    font-size: 15px;
    letter-spacing: 2px;
     opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: $work-sans !important;
    font-weight: 500;
    color:$white;
    font-size: 15px;
    letter-spacing: 2px;
     opacity: 1;
}
