.characters {
    padding-left: $air;

    .character {
        margin-bottom: $air-plus;

        .figure {
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            .info-wrapper {
                position: absolute;
                left: $air;
                bottom: $air;
                max-width: calc(70% - #{$air-double});
                background-color: rgba($black, 0.75);
                padding: $air-plus;

                .actor-name,
                .character-name {
                    color: $white;
                    text-transform: uppercase;
                }

                .character-name {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: $air-half;
                }

                .actor-name {
                    font-weight: 300;
                }
            }
        }
    }
}