.portrait-slider{
    padding-top: $air-plus;
    margin-bottom: $air-plus;
    padding-left: $air;
    .show{
        figure.figure{

            position: relative;

            .info-wrapper{
                position: absolute;
                left: $air;
                bottom: $air-plus;
                background-color: rgba($almostWhite, 0.75);
                max-width: calc(80% - 20px);
                padding: $air-plus $air;

                .title{
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 700;
                }

                span.time{
                    font-size: 17px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: $air-half;
                }
            }

            img{
                width: 100%;
            }
        }
    }
}
