.proximo-programa {
    .video {
        margin-bottom: $air-plus;

        .figure {
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            i.player {
                position: absolute;
                top: $air;
                right: $air;
                width: 30px;
                height: 30px;
            }

            .info-wrapper {
                position: absolute;
                left: $air;
                bottom: $air-plus;
                max-width: calc(85% - #{$air-double});
                padding: $air $air-plus;
                background: rgba($white, 0.80);

                .badge,
                .title {
                    font-weight: 700;
                }

                span.badge {
                    margin-bottom: $air;
                    text-transform: uppercase;
                    font-size: 12px;
                }

                h2.title {
                    font-size: 18px;
                }
            }
        }
    }
}
