.tags-n-share{
    background-color: $lightblue;
    padding: $air-plus 0;

    .tags{
        color: $white;
        font-size: 16px;
        text-transform: uppercase;

        > li{
            display: inline-block;
            vertical-align: middle;
            padding: 0 $air-half;

            &:first-of-type{
                padding-left: 0;
            }

            &:last-of-type{
                padding-right: 0;
            }
        }

        .bullet{
            font-weight: 700;
            font-size: 34px;
        }

        .show-name{
            font-weight: 700;
        }

    }
    .social-shares{

        text-align: right;

        > .social-item{
            color: $white;
            font-size: 35px;
            padding: 0 $air;
            display: inline-block;
            vertical-align: middle;

            &:first-of-type{
                padding-left: 0;
            }

            &:last-of-type{
                padding-right: 0;
            }
        }
    }
}
