.swiper-container.with-preview {
    width: 100%;
    height: 100%;
    .swiper-slide {
        width: 85%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        > *{
            width: 100%;
        }
    }
}
