.top-views{
    padding: $air-plus 0 0 $air;
    margin-bottom: $air-plus;
    counter-reset: note-counter;

    .show-video{
        counter-increment: note-counter;
    }

    figure.figure{
        img{
            width: 100%;
        }

        &::before{
            content: counter(note-counter);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 27px;;
            text-align: center;
            line-height: 27px;
            color: $white;
            font-weight: 700;
            font-size: 20px;
            background-color: $black;
        }

        i.player{
            position: absolute;
            width: 33px;
            height: 33px;
            right: $air;
            top: $air;
        }

        position: relative;

        .info-wrapper{
            position: absolute;
            left: $air;
            bottom: $air;
            max-width: calc(80% - #{$air-double});
            padding: $air $air-plus;
            background-color: rgba($black, 0.75);

            span.badge{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: $air;;
            }

            .title{
                font-weight: 700;
                color: $white;
                font-size: 18px;
            }
        }
    }
}
