.tv-show-wrapper{
    padding: $air-plus 0 0 $air;
    margin-bottom: $air-plus;

    figure.figure{
        img{
            width: 100%;
        }

        i.player{
            position: absolute;
            width: 33px;
            height: 33px;
            right: $air;
            top: $air;
        }

        position: relative;

        .info-wrapper{
            position: absolute;
            left: $air;
            bottom: $air;
            max-width: calc(80% - #{$air-double});
            padding: $air $air-plus;
            background-color: rgba($black, 0.75);

            span.badge{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: $air;;
            }

            .title{
                font-weight: 700;
                color: $white;
                font-size: 18px;
            }
        }
    }
}
