.videos-list{
    padding: $air-plus 0 0 $air;
    margin-bottom: $air-plus;

    figure.figure{
        img{
            width: 100%;
        }

        i.player{
            position: absolute;
            width: 33px;
            height: 33px;
            right: $air;
            top: $air;
        }

        position: relative;

    }
    .info-wrapper{
        padding: $air-double $air-plus;
        background-color: rgba($black, 0.75);

        .title{
            font-weight: 700;
            color: $white;
            font-size: 22px;
        }
    }
}
