.video-title-and-content{
    padding: 0 $air-plus;
    .title{
        font-size: 35px;
        font-weight: 700;
        color: $black;
        margin-bottom: $air-plus * 2;
    }

    .date-of-issue{
        display: inline-block;
        color: $grayDate;
        text-transform: uppercase;
        font-size: 18px;
        margin: $air-plus 0;
    }
    .content-wrapper{
        padding-bottom: $air-double;

        h3{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: $air-double;
        }

        p, li{
            font-size: 20px;
            line-height: 1.2em;
            font-family: $roboto;
            margin-bottom: $air-plus * 2;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          vertical-align: middle;
        }

        li {
          padding-left: 1em;
          text-indent: -1em;
          vertical-align: middle;
        }

        li::before {
          content: "•  ";
          color: #a1a1a1;
          font-size: 30px;
          display: inline;
          vertical-align: middle;
        }

    }
}
