.subrayado-section{
    padding-left: $air-plus;
    padding-right: $air-plus;
    padding-top: $air-double;
    padding-bottom: $air-double;
    counter-reset: note-counter;
    background-color: $white;

    .section-title{
        color: $turquise;
        border-color: $turquise;
    }

    .row{
        margin-left: -$air;
        margin-right: -$air;
    }

    .col,.col-auto{
        padding-left: $air;
        padding-right: $air;
    }

    .subrayado-note{
        counter-increment: note-counter;
        margin-bottom: $air-double;
        .title{
            font-weight: 600;
            font-size: 16px;
            line-height: 1.2em;
            color: #404040;
        }

        figure.figure{
            position: relative;

            &::before{
                content: counter(note-counter);
                display: block;
                position: absolute;
                left: -2px;
                top: 3px;
                width: 23px;
                height: 23px;;
                text-align: center;
                line-height: 23px;
                color: $white;
                font-weight: 700;
                font-size: 20px;
                background-color: $turquise;
            }
        }
    }

    .btn-wrapper{
        text-align: center;

        .btn{
            border-color: $turquise;
            color: $turquise;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            padding-top: $air;
            padding-bottom: $air;

            &:hover{
                color: $white;
                background-color: $turquise;
            }
        }

        .btn-outline-primary:not([disabled]):not(.disabled).active,
        .btn-outline-primary:not([disabled]):not(.disabled):active,
        .show>.btn-outline-primary.dropdown-toggle{
            border-color: $turquise;
            box-shadow: 0 0 0 0.2rem rgba($turquise,.5);
        }
    }
}
