.programas-completos{
    background-color: #e3e3e3;
    padding-top: $air + $air-plus;
    padding-bottom: $air + $air-plus;
    margin-bottom: $air-plus;
    padding-left: $air;

    .video{
        figure.figure{
            position: relative;

            i.player{
                position: absolute;
                width: 33px;
                height: 33px;
                right: $air;
                top: $air;
            }

            img{
                width: 100%;
            }
        }
        .info-wrapper{
            background-color: $grayDefault;
            padding: $air-double;
            color: $white;
        }

        .emission-date{
            font-size: 22px;
            margin-bottom: $air-half;
            font-weight: 700;
        }

        h2.title{
            font-size: 28px;
            font-weight: 700;
        }
    }
}
