.ya-viene{
    background: $black;
    position: relative;
    .info-wrapper{
        position: absolute;
        top: $air-plus;
        text-align: center;
        .hour{
            display: inline-block;
            background-color: $black;
            color: $white;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            padding: $air $air-plus;
            margin-bottom: $air;
        }

        .time-left-quote{
            font-size: 23px;
            color: $black;
            font-weight: 600;
            margin-bottom: $air-double;
            padding: 0 $air-double;
        }

        .btn{
            padding: $air $air-double;
            background-color: $black;
            border: 0 none;
            font-size: 11px;
            text-transform: uppercase;
            color: $white;
            font-weight: 400;
        }
    }
}
