<div class="about-us">
    <h2 class="section-title">Conocenos</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col col-6">
                        <div class="info-wrapper">
                            <h3 class="name">
                                Carolina García
                            </h3>
                            <p class="description">
                                Periodista y conductora de televisión
                            </p>
                            <div class="social">
                                <i class="fa fa-twitter"></i>
                                <span>
                                    <a href="">@carogarcia</a>
                                </span>
                            </div>
                            <a class="btn btn-outline-light" href="#" role="button">
                                conocé más
                            </a>
                        </div>
                    </div>
                    <div class="col col-auto">
                        <figure class="figure">
                            <img src="../assets/img/carogarcia.png" class="figure-img img-fluid" alt="...">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>