<div class="alert-obj">
    <div class="container">
        <div class="row">
            <div class="col-auto logo-wrapper">
                <figure class="figure">
                    <img src="../assets/img/logo-2.png" class="figure-img img-fluid" alt="..." width="33" height="33">
                </figure>
            </div>
            <div class="col">
                <h2 class="title align-middle">Selección de Uruguay jugará la China Cup antes del Mundial 2018. Miralo por tv papa!!!</h2>
            </div>
        </div>
    </div>
</div>