<div class="banner-100vw">
    <figure class="figure">
        <a href="">
            <img src="http://via.placeholder.com/600x150" class="figure-img img-fluid" alt="">
        </a>
    </figure>
</div>
