<div class="capitulos-completos">
    <h2 class="section-title">
        capitulos
    </h2>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x155" class="figure-img img-fluid" alt="...">
                        <a href=""><i class="player"></i></a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Capitulo 289</a>
                        </h2>
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x155" class="figure-img img-fluid" alt="...">
                        <a href=""><i class="player"></i></a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Capitulo 289</a>
                        </h2>
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x155" class="figure-img img-fluid" alt="...">
                        <a href=""><i class="player"></i></a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Capitulo 289</a>
                        </h2>
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x155" class="figure-img img-fluid" alt="...">
                        <a href=""><i class="player"></i></a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Capitulo 289</a>
                        </h2>
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x155" class="figure-img img-fluid" alt="...">
                        <a href=""><i class="player"></i></a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Capitulo 289</a>
                        </h2>
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>