<div class="destacado">
    <figure class="figure">
        <a href="">
            <img src="../assets/img/destacado-mb.png" class="figure-img img-fluid img-rounded" alt="show description">
        </a>
    </figure>
</div>
