<footer>
    <div class="container" role="tablist" aria-multiselectable="true">
        <div class="row">
            <div class="col-6">
                <a href="/">
                    <figure class="figure">
                        <img class="figure-img img-fluid img-rounded" src="../assets/img/logo.svg" alt="Canal 10" width="146" height="39">
                    </figure>
                </a>
            </div>
            <div class="col-6 social">
                <ul class="float-right">
                    <li class="float-left">
                        <a class="" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="float-left">
                        <a class="" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="float-left">
                        <a class="" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2>Programas</h2>
            </div>
            <div id="collapseOne" class="w-100 collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="col-5 link-footer">
                    <ul>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                    </ul>
                </div>
                <div class="col-5 link-footer">
                    <ul>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                        <li><a href="">texto</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4 link-footer">
                <h2 role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Contenidos Exclusivos</h2>
                <div class="w-100"></div>
                <ul id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <li><a href="">TvOnline</a></li>
                    <li><a href="">Montevideo Ciudad</a></li>
                    <li><a href="">Verano 360</a></li>
                </ul>
            </div>
            <div class="col-md-4 link-footer">
                <h2 role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Contactanos</h2>
                <div class="w-100"></div>
                <ul id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <li><a href="">Envíanos tu mensaje</a></li>
                    <li><a href="">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-4 link-footer">
                <h2 role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Departamento Comercial</h2>
                <div class="w-100"></div>
                <ul id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <li><a href="">Tarifas Canal</a></li>
                </ul>
            </div>
            <div class="col-md-9 link-footer">
                <h2 role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Información</h2>
                <ul id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <li>Lorenzo Carnelli 1234. CP 11200 Montevideo,<br> Uruguay. Teléfono: (+598) 2410 21 20</li>
                </ul>
            </div>
            <div class="col-md-3">
                <a href="/">
                    <figure class="figure float-right logo-D2">
                        <img class="figure-img img-fluid img-rounded" src="../assets/img/dosalcubo.png" alt="Dos al Cubo">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</footer>
