<div class="grilla fixed">
    <span id="grillaAnimation1">AHORA</span><span class="close float-right" id="grillaAnimation3">X</span>
    <h2 class="live">Arriba Gente</h2>
    <div class="w-100"></div>
    <span class="separator">Lo que sigue en el 10</span>
    <div class="show">
        <span class="time">22:00 hs</span>
        <h2 class="title">Amor Eterno</h2>
    </div>
    <span class="separator arrow" id="grillaAnimation2"><i class="fa fa-chevron-down"></i></span>
    <div class="show">
        <span class="time">22:00 hs</span>
        <h2 class="title">Moises</h2>
    </div>
    <span class="separator">Esta Noche</span>
    <div class="show">
        <span class="time">22:00 hs</span>
        <h2 class="title">Quien se robo mi Vida</h2>
    </div>
</div>
