<article class="opening-show">
    <figure class="figure">
        <img src="http://via.placeholder.com/360x340" class="figure-img img-fluid" alt="...">
    </figure>
    <div class="info-wrapper">
        <figure class="figure show-logo">
            <img src="../assets/img/bendita-logo.png" class="figure-img img-fluid img-rounded" alt="...">
        </figure>
        <span class="day-and-hour">Domingo 22:30hs</span>
        <p class="description">
            12ª temporada del primer programa de archivo de la televisión uruguaya, con nuevas secciones, un panel de invitados, Vero Piñeyrúa como movilera y los clásicos de siempre.
        </p>
        <a class="btn btn-outline-light" href="#" role="button">notificarme</a>
        <div class="socials-networks-wrapper">
            <ul>
                <li class="social-item">
                    <a href="">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>