<div class="characters">
    <h2 class="section-title">
        Personajes
    </h2>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="character">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x450" class="figure-img img-fluid" alt="...">
                        <div class="info-wrapper">
                            <h3 class="character-name">Ates German</h3>
                            <span class="actor-name">Keremcem</span>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="character">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x450" class="figure-img img-fluid" alt="...">
                        <div class="info-wrapper">
                            <h3 class="character-name">Ates German</h3>
                            <span class="actor-name">Keremcem</span>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="character">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x450" class="figure-img img-fluid" alt="...">
                        <div class="info-wrapper">
                            <h3 class="character-name">Ates German</h3>
                            <span class="actor-name">Keremcem</span>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="character">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x450" class="figure-img img-fluid" alt="...">
                        <div class="info-wrapper">
                            <h3 class="character-name">Ates German</h3>
                            <span class="actor-name">Keremcem</span>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="character">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/275x450" class="figure-img img-fluid" alt="...">
                        <div class="info-wrapper">
                            <h3 class="character-name">Ates German</h3>
                            <span class="actor-name">Keremcem</span>
                        </div>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>