<div class="portrait-slider">
    <h2 class="section-title">
        Programas
    </h2>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <article class="show">
                        <figure class="figure">
                            <a href="">
                                <img src="http://via.placeholder.com/311x506" class="figure-img img-fluid" alt="">
                            </a>
                            <div class="info-wrapper">
                                <span class="time">
                                    Martes - 22:30
                                </span>
                                <h2 class="title">
                                    <a href="">Masterchef</a>
                                </h2>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <article class="show">
                        <figure class="figure">
                            <a href="">
                                <img src="http://via.placeholder.com/311x506" class="figure-img img-fluid" alt="">
                            </a>
                            <div class="info-wrapper">
                                <span class="time">
                                    Martes - 22:30
                                </span>
                                <h2 class="title">
                                    <a>Masterchef</a>
                                </h2>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <article class="show">
                        <figure class="figure">
                            <a href="">
                                <img src="http://via.placeholder.com/311x506" class="figure-img img-fluid" alt="">
                            </a>
                            <div class="info-wrapper">
                                <span class="time">
                                    Martes - 22:30
                                </span>
                                <h2 class="title">
                                    <a>Masterchef</a>
                                </h2>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide">
                    <article class="show">
                        <figure class="figure">
                            <a href="">
                                <img src="http://via.placeholder.com/311x506" class="figure-img img-fluid" alt="">
                            </a>
                            <div class="info-wrapper">
                                <span class="time">
                                    Martes - 22:30
                                </span>
                                <h2 class="title">
                                    <a>Masterchef</a>
                                </h2>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>