<div class="proximo-programa widget bg-white">
    <h2 class="section-title">
        proximo programa
    </h2>
    <article class="video">
        <figure class="figure">
            <img src="http://via.placeholder.com/300x230" class="figure-img img-fluid" alt="...">
            <a href=""><i class="player"></i></a>
            <div class="info-wrapper">
                <span class="badge">no te lo pierdas</span>
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
            </div>
        </figure>
    </article>
</div>
