<div class="tv-show-wrapper naranja">
    <h2 class="section-title">moises</h2>
    <div class="w-100"></div>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/311x238" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <span class="badge">
                                <a href="">ayer en josué</a>
                            </span>
                            <h2 class="title">
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/311x238" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <span class="badge">
                                <a href="">ayer en josué</a>
                            </span>
                            <h2 class="title">
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/311x238" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <span class="badge">
                                <a href="">ayer en josué</a>
                            </span>
                            <h2 class="title">
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/311x238" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <span class="badge">
                                <a href="">ayer en josué</a>
                            </span>
                            <h2 class="title">
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>