<div class="videos-list">
    <h2 class="section-title">momentos del programa</h2>
    <div class="w-100"></div>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>