<div class="video-mb">
    <figure class="figure">
        <a href="">
            <video class="player " src="" autoplay="autoplay" poster="../assets/img/int-vid-mob.png"></video>
        </a>
    </figure>
</div>
