<div class="video-title-and-content">
    <span class="date-of-issue">Emitido el
        <time>12-11-17</time>
    </span>
    <h1 class="title">Curry Rojo de Calamares y Gambas con Arroz Thai</h1>
    <div class="content-wrapper">
        <h3>Ingredientes:</h3>
        <p>Gambas 6 Unidades, Arroz thai 100 grs, Chile rojo thai 1 Unidad , Tomate 1 Unidad, Leche de coco 200 Ml, Ají amarillo 1 Unidad, Cebolla morada 1 Unidad, Pasta de curry rojo tailandés 1 cda, Sal y pimienta c/n, Aceite de Oliva c/n, Calamar 1 Unidad.</p>
        <h3>Preparación</h3>
        <p>
            <ul>
                <li>Preparar el arroz thai siguiendo las indicaciones del fabricante.</li>
                <li>En una cazuela con un poco de aceite, sofreír bien las cabezas de las gambas y retirar.</li>
                <li>En ese mismo aceite, dorar la cebolla roja y el pimiento en juliana.</li>
                <li>Cuando tome color y estén tiernos, incorporar el tomate troceado inmediatamente en un cuenco con arroz, cilantro picado, chile thai picado y las colas de gambas cocidas a la plancha con sal en escamas.</li>
                <li>Una vez que el sofrito esté a punto, añadir el calamar troceado.</li>
                <li>En una cacerola con abundante agua salada en ebullición blanquee las puntas de espárragos, corte la cocción en agua fría y reserve.</li>
                <li>Cubrir con la leche de coco y poner a punto de sal y pimienta.</li>
                <li>Dejar a fuego alto durante unos minutos, retirar y servir inmediatamente en un cuenco con arroz, cilantro picado, chile thai picado y las colas de gambas cocidas a la plancha con sal en escamas.</li>
            </ul>
        </p>
    </div>
</div>
