<div class="subrayado-section">
    <h2 class="section-title">Desde Subrayado</h2>
    <article class="subrayado-note">
        <div class="row">
            <div class="col-auto">
                <figure class="figure">
                    <a href="">
                        <img src="http://via.placeholder.com/150x85" class="figure-img img-fluid" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col">
                <h2 class="title">
                    <a href="">Tabaré Vázquez: UPM se instala en Durazno, cerca de ruta 5 y Rio Negro</a>
                </h2>
            </div>
        </div>
    </article>
    <article class="subrayado-note">
        <div class="row">
            <div class="col-auto">
                <figure class="figure">
                    <a href="">
                        <img src="http://via.placeholder.com/150x85" class="figure-img img-fluid" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col">
                <h2 class="title">
                    <a href="">Tabaré Vázquez: UPM se instala en Durazno, cerca de ruta 5 y Rio Negro</a>
                </h2>
            </div>
        </div>
    </article>
    <article class="subrayado-note">
        <div class="row">
            <div class="col-auto">
                <figure class="figure">
                    <a href="">
                        <img src="http://via.placeholder.com/150x85" class="figure-img img-fluid" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col">
                <h2 class="title">
                    <a href="">Tabaré Vázquez: UPM se instala en Durazno, cerca de ruta 5 y Rio Negro</a>
                </h2>
            </div>
        </div>
    </article>
    <div class="btn-wrapper">
        <a class="btn btn-outline-primary" href="#" role="button">
            más noticias en subrayado.com.uy
        </a>
    </div>
</div>