<div class="programas-completos bg-white">
    <h2 class="section-title">Programas Completos</h2>
    <div class="w-100"></div>
    <div class="swiper-container with-preview">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                        <h2 class="title">
                            <a href="">Bloque 1</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                        <h2 class="title">
                            <a href="">Bloque 1</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                        <h2 class="title">
                            <a href="">Bloque 1</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                        <h2 class="title">
                            <a href="">Bloque 1</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/310x175" class="img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <span class="emission-date">
                            Emitido el 14-09-17
                        </span>
                        <h2 class="title">
                            <a href="">Bloque 1</a>
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>