<div class="ya-viene">
    <figure class="figure">
        <a href="">
            <img src="../assets/img/ya-viene-bg.png" class="figure-img img-fluid w-100" alt="show description">
        </a>
    </figure>
    <div class="info-wrapper">
        <span class="hour">
            Hoy a las 12:00
        </span>
        <p class="time-left-quote">
            Faltan 45 minutos para conocer el destino del amor entre Lara y Javier
        </p>
        <a class="btn btn-primary" href="#" role="button">Notificarme</a>
    </div>
</div>
