.about-us{
    background-color: $almostWhite;
    background-image: url('../assets/img/bg-about-us.png');
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-x;

    min-height: 515px;

    .figure{
        position: relative;
        min-height: 515px;
        max-height: 100%;
        img{
            min-height: 515px;
            width: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .carousel-control-next-icon{
        background-image: url('../assets/img/arrow-right-white.png');
    }

    .carousel-control-prev-icon{
        background-image: url('../assets/img/arrow-left-white.png');
    }

    .carousel-control-next,
    .carousel-control-prev{
        opacity: 1;
        width: 10%;
    }

    .carousel-control-prev{
        left: -120px;
    }

    .carousel-control-next{
        right: -120px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 35px;
        height: 72px;
    }

    .carousel-caption{
        position: static;
        text-align: left;
        padding-top: $air-double * 3;

        span.title{
            display: block;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 40px;
            margin-bottom: $air-double;
        }

        h2.name{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 36px;
            margin-bottom: $air-plus;
        }

        span.tw-social{
            font-size: 18px;
            font-weight: 700;

            i[class*="twitter"]{
                font-size: 22px;
                padding-right: $air-half;
            }
        }

        h5.description{
            padding-top: $air-double * 2;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: $air-double;
        }

        p.description-text{
            font-family: $roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2em;
            margin-bottom: $air * 5;
        }

        a.btn{
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            padding: $air $air-double;
        }
    }
}
