.alert-obj{
    background: $turquise;
    color:$white;
    font-weight: 700;
    &:before{
        content:"";
        width: 50%;
        min-height: 72px;
        display: block;
        position: absolute;
        left: 0;
        background: $green;
    }
    .alert-title{
        line-height: 72px;
        text-transform: uppercase;
        background: $green;
        height:72px;
        display: block;
        font-size: 25px;

    }
    .col{
        background: $turquise;
    }
    .title{
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: $air-plus + $air;
        &:before{
            content: "";
            @include vertical-align;
            margin-left: -$air-double * 2;
            width: 0;
            height: 0;
            display: inline-block;
            border-style: solid;
            border-width: 36px 0 36px 16px;
            border-color: transparent transparent transparent $green;
        }
    }
    .btn-outline-light{
        @include vertical-align;
        font-size: 13px;
        text-transform: uppercase;
        right: $air-plus;
    }
}
