div[class^="banner"]{

    text-align: center;

    &[class*="970x90"]{
        margin-bottom: $air-double;
        padding-top: $air-double;
    }
    &[class*="300x250"]{
        margin-bottom: $air-double;
    }

    > *,
    *
    {
        text-align: center;
        margin: 0 auto;
    }
}
