.carousel-c-banner{
    padding-top: $air-double;
    margin-bottom: $air-double;
    .sub-item-c{
        .figure-img{
            margin-bottom: 0;
        }
        .info-wrapper{
            padding: 11px 20px;
            background-color: rgba($black, .8);
            color: $white;
            max-height: 88px;
        }
        .title{
            @include limit-text-lines(2);
            font-weight: 700;
            min-height: 1.2em * 2;
            font-size: 17px;
        }
    }
    .player{
        position:absolute;
        right: $air * 3;
        top: $air-plus;
    }

    .carousel-control-prev,
    .carousel-control-next{
        width: 60px;
    }
    .fa{
        color:$white;
        background: rgba(0,0,0,.7);
        text-align: center;
        position: absolute;
        line-height: 36px;
        font-size: 16px;
        width: 25px;
        margin-top: -$air-double;
    }
    .fa-chevron-left{
        -webkit-border-top-right-radius: 7px;
        -webkit-border-bottom-right-radius: 7px;
        -moz-border-radius-topright: 7px;
        -moz-border-radius-bottomright: 7px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        left: 15px;
    }
    .fa-chevron-right{
        -webkit-border-top-left-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-bottomleft: 7px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        right: 15px;
    }
}
