.characters-grid{
    padding-top: $air-double;
    margin-bottom: $air-double;

    .character{
        position: relative;
        .figure-img{
            margin-bottom: 0;
        }
        .info-wrapper{
            position: absolute;
            bottom: $air-half;
            left: $air-half;
            padding: 11px 20px;
            background-color: rgba($black, .8);
            color: $white;
            max-height: 88px;
            bottom:$air;
            left: $air-double + $air-half;
            max-width: calc(100% - 50px);
        }
        .title{
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    &.eliminado{
        .character{
            &:before{
                content: "";
                background-color: rgba($black, .7);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 1;
                margin: 0 $air-plus;
            }
            &:after{
                content: "ELIMINADO";
                background-color: $rojoOscuro;
                color:$white;
                position: absolute;
                bottom: 40%;
                line-height: 54px;
                font-size: 34px;
                font-weight: 600;
                display: block;
                text-align: center;
                left: 0;
                right: 0;
                z-index: 2;
                margin: 0 $air-plus;
            }
        }
    }
}
