.countdown{
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position-x: center;
    .info-wrapper{
        max-width: 30%;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        left: 50%;
        color: $white;

        @media (min-width: $screen-xl-min){
            margin-left: calc(-1110px / 2);
        }
        @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
            margin-left: -#{930px / 2};
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
            margin-left: -#{690 / 2};
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            margin-left: -#{510px / 2};
        }
    }
    img{
        margin:0 auto;
    }
    .title{
        font-size: 21px;
        color: $white;
        font-weight: 700;
        margin-bottom: $air-double;
        text-transform: uppercase;
        text-align: center;
        padding-top: $air-double;
    }
    .time{
        background: $white;
        color: $rojoVivo;
        text-transform: uppercase;
        max-width: 60%;
        text-align: center;
        font-weight: 700;
        font-size: 21px;
        line-height: 30px;
        margin: $air-double auto;
    }
    #clock{
        display: block;
        width: 320px;
        margin: 0 auto;
        span{
            font-size: 80px;
            font-family: $roboto;
            text-align: center;
            &+span{
                margin-left: $air-double;
            }
            label{
                font-size: 20px;
                font-weight: 700;
                color:$grisGrillaColor;
            }
        }
    }
    .notificarme{
        background: $rojoVivo;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        max-width: 40%;
        font-weight: 600;
        margin: 0 auto;
        display: block;
        line-height: 41px;
    }
}
