.content-and-share{

    margin-bottom: $air-plus * 2;

    .shares-wrapper{
        margin-bottom: $air-plus * 2;
    }

    .social-item{
        display: inline-block;
        border-radius: 50% 50%;
        border-width: 4px;
        border-style: solid;
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: $air;

        &.facebook{
            border-color: #2144db;
            color: #2144db;
        }

        &.twitter{
            border-color: #009cff;
            color: #009cff;
        }

        i.fa{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 23px;
            @include transform(translate(-50%, -50%));
        }
    }

    .content-wrapper{

        padding-bottom: $air-double;
        border-bottom: 1px solid #cccccc;

        h3{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: $air-double;
        }

        p, li{
            font-size: 20px;
            line-height: 1.2em;
            font-family: $roboto;
            margin-bottom: $air-plus * 2;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          vertical-align: middle;
        }

        li {
          padding-left: 1em;
          text-indent: -1em;
          vertical-align: middle;
        }

        li::before {
          content: "•  ";
          color: #a1a1a1;
          font-size: 35px;
          display: inline;
          vertical-align: middle;
        }

    }
}
