body.detail-video {
    .portrait-actors-carousel {
        .info-wrapper {
            min-width: calc(100% - #{$air-double * 5});

            .actor,
            h2.character {
                color: $white;
            }

            h2.character {
                font-size: 20px;
                margin-bottom: $air-half;
            }

            .actor {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
