.video-ranking{
    background-color: $lightblue;

    padding: $air-double + $air-half $air-double;

    .section-title{
        padding-left: 0;
        border: 0 none;
        font-weight: 400;
        color: $white;
        font-size: 20px;
        margin-bottom: $air-double;
    }

    article.video{
        margin-bottom: 20px;
        
        .row{
            margin-left: -7.5px;
            margin-right: -7.5px;
        }

        .col{
            padding: 0 7.5px;
        }

        .title{
            color: $white;
            font-size: 18px;
            line-height: 1.2em;
        }
    }



}
