footer{
    background: $black;
    color:$grisGrillaColor;
    padding-top:$air-double*2;
    padding-bottom:$air-double*2;
    font-size: 40px;
    .navbar-nav{
        margin-top: -5px;
        margin-bottom: 15px;
        a{
            color:$white;
        }
        li+li{
            margin-left: $air-double;
        }
    }
    .w-100:before{
        content: "";
        border-bottom: 1px solid $white;
        width: 100%;
        display: block;
        opacity: .5;
        margin-bottom: $air-plus * 2;
    }
    .link-footer{
        margin-bottom: $air-double * 2;
        li,a{
            font-family: $roboto;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.2em;
            text-decoration: none;
        }
        li+li{
            padding-top:$air;
        }
    }
    h2{
        color:$lightblue;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: $air-double;
    }
    .logo-D2{
        margin-top: $air-double;
    }
}
