.player {
    background: url("../../assets/img/player.svg");
}

.section-title {
    font-size: 20px;
}

body {
    padding-top: 46px;
}

figure * {
    display: block;
}

.widget {
    padding: $air-double $air;
}