body,
html {
    font-family: $work-sans;
    max-width: 100vw;
    overflow-x: hidden;
}

body{
    background-color: $backgroundgray;

    &.detail-video{
        background-color: $grayDetailVideo;
    }
}
.title{
    line-height: 1.2em;
}
.badge{
    border-radius: 0;
    color: $lightblue;
    padding: 0 0;
    text-align: left;
}
.player{
    background: url(../assets/img/player.svg);

    &.md{
        width: $player-md;
        height: $player-md;
    }
    &.sm{
        width: $player-sm;
        height: $player-sm;
    }
}
.section-title{
    font-weight: 700;
    margin-bottom: $air-double;
    font-size: 26px;
    text-transform: uppercase;
    border-left: 8px solid $black;
    padding-left: $air;

}
a{
    color: inherit;

    &:visited,
    &:link,
    &:hover,
    &:active{
        color: inherit;
    }
}
figure.figure{
    display: block;
    *{
        &:not(.btn){
            display: block;
        }
    }
}
.vip:before{
    content:"";
    background: url(../assets/img/vip.png);
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    width: 76px;
    height: 77px;
}

.figure-img{
    margin-bottom: 0;
}
.fa-bars{
    color: #fff;
    font-size: 33px;
}
[data-headerfixed]{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color:$white;
    z-index: 20;
}
