.highlight-videos-wrapper{
    padding-top: $air-double;
    margin-bottom: $air-double;

    .highlight-video{
        figure.figure{
            position: relative;

            i.player{
                top: $air-plus;
                right: $air-plus;
                width: $player-md;
                height: $player-md;
            }

            > a{
                display: block;
            }

            .info-wrapper{
                position: absolute;
                bottom: $air * 3 ;
                left: $air * 3;
                background-color: rgba($white, 0.85);
                padding: $air-double $air-double + $air-half;
                max-width: 380px;

                span.badge{
                    font-size: 17px;
                }

                h2.title{
                    font-size: 28px;
                    font-weight: 700;
                }
            }
        }
    }

    .side-video{
        margin-bottom: $air * 3;

        span.badge{
            font-size: 14px;
        }

        h2.title{
            font-size: 18px;
            font-weight: 600;
        }

        figure.figure{
            position: relative;
            margin-bottom: $air;

            i.player{
                top: $air;
                right: $air;
                width: 45px;
                height: 45px;
            }
        }
    }

    span.badge{
        color: $lightblue;
        text-transform: uppercase;
        margin-bottom: $air;
        padding: 0 0;
    }

    h2.title{
        color: $grayFont;

        a{
            color: inherit;
        }
    }

    i.player{
        position: absolute;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}
