.highlight-videos-c-banner {
    margin-bottom: $air-double;
    padding-top: $air-double;

    .highlight-video {
        figure.figure {
            position: relative;

            i.player {
                top: $air-plus;
                right: $air-plus;
                width: $player-md;
                height: $player-md;
            }

            > a {
                display: block;
            }

            .info-wrapper {
                padding: $air-double ($air-double + $air-half);
                background-color: rgba($white, 0.85);

                span.badge {
                    font-size: 18px;
                    font-size: 600;
                    padding-bottom: $air-half;
                    text-transform: uppercase;
                }

                h2.title {
                    font-size: 34px;
                    font-weight: 700;
                    min-height: 1.2em * 2;
                    @include limit-text-lines(2);
                }

                .btn {
                    text-transform: uppercase;
                }

                > .row {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    > .col {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                }

                .btn-wrapper {
                    text-align: center;
                    width: 100%;
                    position: relative;

                    > .btn {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                    }
                }
            }
        }
    }

    .side-video {
        margin-bottom: $air * 3;

        span.badge {
            font-size: 14px;
        }

        h2.title {
            font-size: 18px;
            font-weight: 600;
        }

        figure.figure {
            position: relative;
            margin-bottom: $air;

            i.player {
                top: $air;
                right: $air;
                width: 45px;
                height: 45px;
            }
        }
    }

    span.badge {
        margin-bottom: $air;
        padding: 0;
        text-transform: uppercase;
        color: $lightblue;
    }

    h2.title {
        color: $grayFont;

        a {
            color: inherit;
        }
    }

    i.player {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}