.highlight-shows{
    .carousel-control-prev-icon{
        background-image: url(../assets/img/arrow-left.png);
    }
    .carousel-control-next-icon{
        background-image: url(../assets/img/arrow-right.png);
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 26px;
        height: 50px;
    }

    .carousel-control-next,
    .carousel-control-prev{
        opacity: 1;
    }

    .info-wrapper{
        position: absolute;
    }

    .carousel-item{
        .info-wrapper{
            max-width: 25%;
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            left: 50%;
            color: $white;

            @media (min-width: $screen-xl-min){
                margin-left: calc(-1110px / 2);
            }
            @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
                margin-left: -#{930px / 2};
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                margin-left: -#{690 / 2};
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                margin-left: -#{510px / 2};
            }
        }
    }

    .title{
        font-size: 36px;
        color: $black;
        font-weight: 700;
        margin-bottom: $air-double;
    }

    a.btn{
        background-color: $black;
        border-color: $black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        padding: $air $air-double;
        line-height: 1em;
    }
}
