.live-n-grid{
    background: $grisGrilla;
    color: $blancoGrilla;
    padding: $air-plus;
    text-transform: uppercase;
    margin-bottom: $air-double;
    .live-player{
        position: relative;
        .badge{
            background: $rojoVivo;
            color: $white;
            font-weight: bold;
            position: absolute;
            top: 0;
            font-size: 12px;
            line-height: 22px;
            padding: 0 $air-half;

        }
        figcaption{
            font-size: 13px;
            font-weight: 600;
            padding: $air $air-plus;
            text-align: center;
            position: absolute;
            bottom:0;
            background: $black;
            opacity: .6;
            width: 100%;
        }
        .player{
            background: url(../assets/img/player.svg);
            width: 47px;
            height:47px;
            top: 25px;
            @include horizontal-align;
        }
    }
    .col-md-5{
        border-left: 1px solid $grisGrillaLinea;
        border-right: 1px solid $grisGrillaLinea;
    }
    .col-md-5 .badge,.highlight-show .badge{
        padding:0;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 25px;
        a{
            text-decoration: underline;
            color: $grisGrillaColor;
            font-size: 11px;
        }
    }
    .highlight-show .badge{
        margin-bottom: 16px;
    }
    .grid-show,.info-wrapper{
        color: $grisGrillaColor;
        .time{
            font-size: 15px;
        }
        h2{
            margin-top: $air;
            font-size: 17px;
            line-height: 1.2em;
        }
    }
    .border-right{
        border-right: 1px solid $grisGrillaLinea;
    }
    .btn-outline-secondary{
        font-size: 13px;
    }
}
