header.main-header{
    background-color: $black;
    @include transition(all 250ms ease-in-out);
    min-height: 70px;

    nav.navbar{
        min-height: 70px;
    }

    .navbar-brand{
        img{
            max-width: 146px;
            height: auto;
        }
    }

    .navbar-collapse{
        margin-left: 60px;
        .nav-item{
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            padding: 0 $air-plus;

            &.active{

                .nav-link{
                    border-bottom: 3px solid;
                    border-color: $lightblue;
                }
            }
        }

        .nav-link{
            color: $white;
            padding: $air-half 2px;
        }
    }

    .social-n-search{
        .nav-link{
            color: $white;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 $air;

            i.fa{
                font-size: 22px;
            }
        }
        > .nav-item{

            &:first-child{
                font-size: 14px;
                padding-right: $air-double;
                border-right: 1px solid #9c9c9c;
                margin-right: $air;
                line-height: 22px;

                .nav-link{
                    padding: 0 0;
                    margin-right: 0 !important;
                }
            }

            &:last-child{
                padding-left: $air-double;
                border-left: 1px solid #9c9c9c;
                margin-left: $air;
                .nav-link{
                    padding: 0 0;
                }

            }
        }
    }
    &.trans{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background: rgba(0,0,0,.5);
        .social-n-search{
            display: none !important;
        }

        &.hidden-nav{
            background-color: transparent;
        }
    }
    button.navbar-toggler:focus{
        background-color: rgba(0,0,0,0) !important;
    }
}
body.blockMenu{
    overflow: hidden;
    &:before{
        content:"";
        background: rgba(0,0,0,0.5);
        width: 100vw;
        height: 100vh;
        display: block;
        left: 0;
        top: 70px;
        right: 0;
        position: fixed;
        z-index: 2;
    }
    header.main-header.trans{
        background: $grisGrilla;
    }
}
.animationMenu{
    position: fixed;
    top: 70px;
    width: 400px;
    height: 100vh;
    background: $grisGrilla;
    left: 0;
    margin: 0 !important;
    transform:translateX(-100%);
    display:block;
    -webkit-transition: transform .3s; /* Safari */
    transition: transform .3s;
    a{
        line-height: 35px;
    }
}
.showMenu{
    transform: translateX(0);

}
