.next-show-grid{
    min-height: 145px;
    background-color: $grayNextProgramGrid;
    padding: $air * 3 0;

    .next-show-logo{
        background-color: $lightblue;
        color: $white;
        position: relative;
        min-height: 100px;
        text-align: center;
        padding: $air-double $air-double;

        &::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            right: -27px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 51px 0 51px 27px;
            border-color: transparent transparent transparent $lightblue;
        }

        figure.figure{
            img{
                margin: 0 auto;
            }
        }

        .quote{
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: $air;
        }

    }

    .shows-wrapper{
        padding-left: 35px;
        min-height: 100px;
        padding-top: $air-half;
        padding-bottom: $air-half;
        .col{
            padding: 0 $air-half;
        }
    }

    .show{


        &:hover{
            .hour-notify-wrapper{
                display: none;
            }
        }

        .hour-notify-wrapper{
            position: absolute;
            bottom: 0;
            left: $air-half;
            right: $air-half;
            min-height: 35px;

            &:hover{
                display: inline-block;
            }
        }

        .hour,
        .notify{
            position: absolute;
            bottom: 0;
            display: inline-block;
            padding: $air $air;
            color: $white;
            font-size: 14px;
            font-weight: 700;
        }

        .hour{
            left: 0;
            background-color: $black;
        }

        .notify{
            right: 0;
            background-color: rgba($black, 0.75);
            @include transition(background-color 250ms ease-in-out);
            text-decoration: none;
            &:hover{
                background-color: rgba($black, 1);
            }
        }
        .show-img{
            position: relative;



            &:hover{
                > .info-wrapper{
                    display: block;
                }
            }

            .info-wrapper{
                display: none;
                position: absolute;
                background-color: rgba($black, 0.5);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                padding-top: 18px;
                padding-left: $air-plus;
                padding-right: $air-plus;

                .hour{
                    position: static;
                    background-color: transparent;
                    padding: 0 0;
                }

                .hour,
                .title{
                    display: inline-block;
                    color: $white;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }


}
