.tonight-show{
    min-height: 430px;
    background-size: auto 430px;
    background-position: top center;
    background-repeat: repeat-x;
    position: relative;

    .info-wrapper{
        text-align: center;
        min-height: 430px;
        position: relative;

        .content-wrapper{
            @include vertical-align;

            .hour{
                display: inline-block;
                background-color: $black;
                color: $white;
                font-size: 21px;
                font-weight: 800;
                text-transform: uppercase;
                padding: $air $air-plus;
                margin-bottom: $air-plus * 2;
            }

            .show-name{
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: $black;
                margin-bottom: $air-double;
            }

            .time-left-quote{
                font-size: 36px;
                color: $black;
                font-weight: 700;
                margin-bottom: $air-double;
            }

            .btn{
                padding: $air $air-double;
                background-color: $black;
                border: 0 none;
                font-size: 14px;
                text-transform: uppercase;
                color: $white;
                font-weight: 400;
            }
        }
    }
}
