.opening-tv-show{
    position: relative;
    background-color: $grayDefault;
    figure{position:relative;padding: 0px !important;}
    .info-wrapper{
        color: $white;
    }
    .center-image{
        margin:0 auto;
    }
    .title{
        font-size: 22px;
        color: $white;
        font-weight: 600;
        line-height: 1.2em;
        margin-top:$air-double;
    }
    .description{
        font-weight: 500;
        font-size: 17px;
        line-height: 1.2em;
        margin-bottom: $air-double;
    }
    .vertical-center{
        @include vertical-align;
    }
    .btn-outline-secondary{
        margin-top:$air-double;
        color:$white !important;
        border-color: $white;
        font-size: 14px;
        font-weight: 700;
        min-width: 140px !important;
        &:hover{
            background-color: $white !important;
            color: $black !important;
        }
    }
    .social {
        padding-top: $air-plus;
        a{
            color: $white;
            font-size: 33px;
            text-decoration: none;
            &+a{
                margin-left: $air-plus;
            }
        }
    }
    .full-width {
      position: relative; /* for the child pseudo-elements */
      /* negative offset = section padding */

      /* add back section padding value */
      padding: 0.25rem 30px;
      background: #333;
    }
    .full-width:before, .full-width:after {
        content: "";
        position: absolute;
        /* fill vertically */
        top: 0;
        bottom: 0;
        width: 1600px;
        right: 93%;
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 95%, rgba(0,0,0,0.2) 99%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 95%,rgba(0,0,0,0.2)  99%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,1) 95%,rgba(0,0,0,0.2)  99%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .full-width:after {
        width: 1600px;
        left: 93%;
        background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(0,0,0,0.2) 1%, rgba(0,0,0,1) 5%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,1) 5%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,1) 5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
