.opening-bomba{
    position: relative;
    background: $black;
    figure{position:relative;}
    .info-wrapper{
        color: $white;
    }
    .title{
        font-size: 34px;
        color: $white;
        font-weight: 700;
        margin-bottom: $air-double;
        text-align: center;
        padding-top: $air-double;
    }
    .badge {
        background: red;
        color: #FFF;
        font-weight: bold;
        position: absolute;
        bottom: $air;
        left: $air;
        font-size: 20px;
        line-height: 30px;
        padding: 0 5px;
    }
}
