.opening-live{

    position: relative;
    background: $black;
    // Si no estas loggeado
    .layer-login{
        display: none;
    }

    &.not-logged{
        .container{
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                min-width: 100vw;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba($grayLiveLayer, 0.95);
                @include horizontal-align;
            }
        }
        .layer-login{
            display: block;
            position: absolute;
            z-index: 2;
            left: $air-plus;
            right: $air-plus;
            text-align: center;

            @include vertical-align;



            .locked-icon{
                border-radius: 50% 50%;
                position: relative;
                border-style: solid;
                border-width: 2px;
                border-color: $white;
                width: 110px;
                height: 110px;
                text-align: center;
                margin: 0 auto $air-double * 2;

                i.fa-lock{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%));
                    color: $white;
                    font-size: 56px;
                }
            }

            .quote{
                display: block;
                font-size: 35px;
                color: $white;
                font-weight: 700;
                max-width: 75%;
                margin: 0 auto $air * 5;
            }

            .btn{
                text-transform: uppercase;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                padding: $air $air * 3;

                &:hover{
                    color: $black;
                }
            }


            .form-wrapper{
                max-width: 350px;
            }

            .form-title{
                font-size: 28px;
                text-align: left;
            }

            .registrarse-link{
                font-size: 18px;
                text-align: right;
                display: inline-block;
                border-bottom: 2px solid $lightblue;
                padding-bottom: $air-half;
                &:hover{
                    text-decoration: none;
                }
            }

            .form-title,
            .registrarse-link{
                text-transform: capitalize;
                font-weight: 700;
                color: $white;
            }

            .form-title-wrapper{
                margin-bottom: $air-double * 2;
            }

            form{
                text-align: left;

                label{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $white !important;
                }

                input:not([type]):focus:not([readonly]),
                input[type=text]:not(.browser-default):focus:not([readonly]),
                input[type=password]:not(.browser-default):focus:not([readonly]),
                input[type=email]:not(.browser-default):focus:not([readonly]),
                input[type=url]:not(.browser-default):focus:not([readonly]),
                input[type=time]:not(.browser-default):focus:not([readonly]),
                input[type=date]:not(.browser-default):focus:not([readonly]),
                input[type=datetime]:not(.browser-default):focus:not([readonly]),
                input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
                input[type=tel]:not(.browser-default):focus:not([readonly]),
                input[type=number]:not(.browser-default):focus:not([readonly]),
                input[type=search]:not(.browser-default):focus:not([readonly]),
                textarea.materialize-textarea:focus:not([readonly]){
                    border-color: $white;
                    box-shadow: 0 1px 0 0 $white;
                }

                input{
                    margin-bottom: 0;
                    color: $white;
                    font-size: 18px;
                    font-weight: 300;
                }

                .form-group{
                    margin: 0 0 $air-double * 2;
                }

                .password-recovery{
                    color: $white;
                    font-size: 15px;
                    text-decoration: underline;
                    margin-bottom: $air-double * 2;
                    display: inline-block;
                }

                button.btn{
                    display: block;
                }

                .input-field label:not(.label-icon).active{
                    @include transform(translateY(-14px) scale(1));
                }
            }

        }
    }

    .live-player{
        position: relative;
        z-index: 1;

        .player{
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

}
