.portrait-actors-carousel{
    padding-top: $air-double;
    margin-bottom: $air-double;
    position: relative;

    .info-wrapper{
        position: absolute;
        margin: $air * 3;
        max-width: calc(100% - #{$air-double * 3});
        left: 0;
        bottom: 0;
        background-color: rgba($black, 0.70) !important;
        padding: $air-double $air-double + $air-half;
        text-transform: uppercase;

        h2.character{
            font-size: 34px;
            font-weight: 700;
            line-height: 1.2em;
        }

        .actor{
            font-size: 22px;
            font-weight: 700;
        }
    }
    .fa{
        font-size: 24px;
        color:$white;
        background: rgba(0,0,0,.7);
        line-height: 50px;
        text-align: center;
        width: 30px;
        position: absolute;

    }
    .fa-chevron-left{
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 15px;
    }
    .fa-chevron-right{
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        right: 15px;
    }
}
