.premium-carousel{
    padding-top: $air-double;
    margin-bottom: $air-double;

    .sub-item{
        position: relative;
        .figure-img{
            margin-bottom: 0;
        }
        .info-wrapper{
            position: absolute;
            bottom: $air * 3 ;
            left: $air * 4;
            background-color: rgba($white, 0.85) !important;
            padding: $air-double $air-double + $air-half;
            max-width: 380px;

            span.badge{
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 600;
            }

            h2.title{
                font-size: 28px;
                font-weight: 700;
                color: $black;
            }
        }
    }
    .player{
        position:absolute;
        right: $air * 3;
        top: $air-plus;
    }

    .carousel-control-prev,
    .carousel-control-next{
        width: 60px;
    }
    .fa{
        font-size: 24px;
        color:$white;
        background: rgba(0,0,0,.7);
        line-height: 50px;
        text-align: center;
        width: 30px;
        position: absolute;

    }
    .fa-chevron-left{
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 15px;
    }
    .fa-chevron-right{
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        right: 15px;
    }
}
