.other-portal-notes{
    background-color: $almostWhite;
    padding-top: $air-double;
    padding-bottom: $air-double;
    counter-reset: note-counter;

    &.subrayado{
        .section-title{
            color: $turquise;
            border-color: $turquise;
        }

        .note{
            figure.figure{
                &::before{
                    background-color: $turquise;
                }
            }
        }

        .more-news-link{
            color: $turquise;
        }
    }

    .section-title{
        margin-bottom: $air-double;
    }

    .more-news-link{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        line-height: 26px;
    }

    .note{
        counter-increment: note-counter;
        figure.figure{
            margin-bottom: $air-plus;

            position: relative;

            &::before{
                content: counter(note-counter);
                display: block;
                position: absolute;
                left: -2px;
                top: $air-half;
                width: 40px;
                height: 40px;;
                text-align: center;
                line-height: 40px;
                color: $white;
                font-weight: 700;
                font-size: 22px;
            }
        }

        .counter{
            display: none;
        }

        .info-wrapper{
            .title{
                font-size: 17px;
                font-weight: 600;

                @include limit-text-lines(4);
                min-height: 1.2em * 4;
            }
        }
    }

}
