.recommended-videos{

    padding-top: $air-double;

    article.show-video{
        margin-bottom: $air-double;

        .player{
            position: absolute;
            top: $air-plus;
            right: $air-plus;
        }

        .figure{
            position: relative;
        }

        .info-wrapper{

            position: absolute;
            bottom: $air-double;
            left: $air-double;

            max-width: 50%;

            padding: $air $air-double;
            background-color: rgba($backgroundgray, 0.85);

            .title{
                font-size: 20px;
                font-weight: 700;
            }

            .badge{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                color: $lightblue;
                margin-bottom: $air;
            }
        }
    }
}
