.related-videos-section {
    padding-top: $air-double;
}

.related-videos {
    article.show-video {
        margin-bottom: $air-double * 2;
    }

    figure.figure {
        position: relative;

        i.player {
            position: absolute;
            top: $air-double;
            right: $air-double;
        }

        &.vip {
            &::before {
                left: 0;
            }
        }

        span.badge {
            position: absolute;
            left: $air;
            bottom: $air;
            text-transform: uppercase;
            color: $white;
            padding: $air-half;
            background-color: $lightblue;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .info-wrapper {
        background-color: $lightblue;
        padding: $air-plus;

        .title {
            font-weight: 700;
            color: $white;
            font-size: 24px;
        }

        .badge {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: $white;
            margin-bottom: $air-plus;
        }
    }
}