$colores-programas: (
    rojo: (color: $rojoOscuro, esClaro: false, cambiaColorFondo: false),
    celeste: (color: $lightblue, esClaro: true, cambiaColorFondo: true),
    lila: (color: $lila, esClaro:false, cambiaColorFondo:false),
    naranja: (color: $orange, esClaro:false, cambiaColorFondo:false)
);
@each $color, $color-values in $colores-programas {
    body.show.#{$color} {
        .opening-tv-show {
            background: map-get($color-values, color);
            @if map-get($color-values, esClaro) {
                .info-wrapper,
                .social a,
                .title {
                    color: $black;
                }

                .btn-outline-secondary {
                    color: $black !important;
                    border-color: $black;

                    &:hover {
                        background-color: $black !important;
                        color: $white !important;
                    }
                }
            }
        }

        .section-title {
            color: map-get($color-values, color);
            border-color: map-get($color-values, color);
        }

        .highlight-videos-c-banner .info-wrapper,
        .info-wrapper {
            background-color: map-get($color-values, color);

            .actor,
            .badge,
            .character,
            .title {
                color: $white;
                @if map-get($color-values, esClaro) {
                    color: $black !important;
                }
            }
        }

        .premium-carousel {
            .badge {
                color: map-get($color-values, color);
            }
        }
    }
    // Detalle de Video
    body.detail-video.#{$color} {
        .tags-n-share,
        .video-ranking {
            background-color: map-get($color-values, color);
        }

        .tags-n-share {
            .social-shares > .social-item,
            .tags {
                @if map-get($color-values, esClaro) {
                    color: $black;
                } @else {
                    color: $white;
                }
            }
        }

        .video-ranking {
            .section-title,
            .title {
                @if map-get($color-values, esClaro) {
                    color: $black;
                } @else {
                    color: $white;
                }
            }
        }

        .top-views {
            .col-md-3 {
                .info-wrapper {
                    background-color: map-get($color-values, color);

                    .badge,
                    .title {
                        @if map-get($color-values, esClaro) {
                            color: $black;
                        } @else {
                            color: $white;
                        }
                    }
                }
            }
        }

        .related-videos {
            .info-wrapper,
            figure.figure span.badge {
                background-color: map-get($color-values, color);
                @if map-get($color-values, esClaro) {
                    color: $black;
                }
            }
            @if map-get($color-values, esClaro) {
                .info-wrapper {
                    .badge,
                    .title {
                        color: $black;
                    }
                }
            }
        }

        .highlight-videos-c-banner {
            .highlight-video {
                figure.figure {
                    .info-wrapper {
                        background-color: map-get($color-values, color);
                    }
                }
            }

            h2.title,
            span.badge {
                @if map-get($color-values, esClaro) {
                    color: $black;
                } @else {
                    color: $white;
                }
            }
        }

        [class*="btn-outline"] {
            @if map-get($color-values, esClaro) {
                border-color: $black;
                color: $black;

                &:hover {
                    border-color: $black;
                    color: $white;
                    background-color: $black;
                }
            } @else {
                border-color: $white;
                color: $white;

                &:hover {
                    border-color: $white;
                    color: $black;
                    background-color: $white;
                }
            }
        }

        .section-title {
            color: map-get($color-values, color);
            border-color: map-get($color-values, color);
        }
    }
}