.widget-special-show{
    background-size: cover cover;
    padding-top: $air-double;
    margin-bottom: $air-double;


    article.show-video,
    .logo-show,
    .banner-sponsor{
        margin-bottom: $air-double;
    }


    .container{
        padding-top: $air-double * 2;
    }
    .col-md-8{
        .info-wrapper{
            position: absolute;
            margin: $air * 3;
            left: 0;
            bottom: 0;
            background-color: rgba(60, 55, 52, .8);
            padding: $air-double $air-double + $air-half;
            max-width: 375px;

            h2.title{
                font-size: 26px;
                font-weight: 600;
                color:$white;
                line-height: 1.2em;
            }
        }
    }
    .col-md-4,.col-md-3{
        .figure-img{
            margin-bottom: 0;
        }
        .info-wrapper{
            padding: 11px 20px;
            background-color: rgba(60, 55, 52, .8);
            color: $white;

        }
        .title{
            @include limit-text-lines(3);
            font-size: 22px;
            font-weight: 600;
            min-height: 1.2em * 3;

        }
    }
    .col-md-3 .title{
        font-size: 18px;
    }
    .player{
        position:absolute;
        right: $air * 3;
        top: $air-plus;
    }
    .margin-bottom-air-double{
        margin-bottom: $air-double;
    }

}
