.bg-tv-show{
    background-repeat: repeat-x;
    background-position: center center;
    -webkit-background-size: auto 350px;
    -moz-background-size: auto 350px;
    -o-background-size: auto 350px;
    background-size: auto 350px;
    min-height: 350px;
    position: relative;

    margin-bottom: $air-double;
    margin-top: $air-double;

    .figure.tv-show{
        position: absolute;
        bottom: -3px;
        left: 50%;

        margin-left: -675px;
    }

    .col-sm-9{
        padding-top: $air-double * 2 + $air-half;
    }

    .show-link{
        font-size: 11px ;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        margin-bottom: $air-double;

        a{
            color: inherit;
        }
    }

    .show-video{

        .figure{
            display: block;
            position: relative;
            *{
                display: block;
            }
        }

        i.player{
            position: absolute;
            top: $air;
            right: $air;
            width: 45px;
            height: 45px;
        }

        .title{
            @include limit-text-lines(3);
            min-height: 1.2em * 3;
            color: $white;
            font-weight: 600;
            font-size: 20px;
        }

        .info-wrapper{
            padding: $air-plus $air-plus $air-double;
        }
    }

}
