.video-player{
    padding-top: $air-double;

    .video-wrapper{
        figure.figure{

            margin-bottom: $air-plus * 2;

            > *{
                width: 100%;
            }
        }

        .title{
            font-size: 60px;
            font-weight: 700;
            color: $black;
            margin-bottom: $air-plus * 2;
        }

        .date-of-issue{
            display: inline-block;
            color: $grayDate;
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: $air-plus * 2;
        }
    }
}
