$categories: (
    celeste-vivo: (
        background: $cat-celeste-vivo,
        lightcolor: false
        ),
    copa-america: (
        background: $cat-copa-america,
        lightcolor: false
        ),
    fucsia: (
        background: $cat-fucsia,
        lightcolor: false
        ),
    gris: (
        background: $cat-gris,
        lightcolor: false
        ),
    naranja: (
        background: $cat-naranja,
        lightcolor: false
        ),
    naranja_fuerte: (
        background: $cat-naranja_fuerte,
        lightcolor: false
        ),
    rating-cero: (
        background: $cat-rating-cero,
        lightcolor: false
        ),
    texto-blanco: (
        background: transparent,
        color: $cat-texto-blanco,
        lightcolor: false),
    tipo-blanca: (
        background: transparent,
        color: $cat-tipo-blanca,
        lightcolor: false
        ),
    verde-doc: (
        background: $cat-verde-doc,
        lightcolor: false
        ),
    verde_oscuro: (
        background: $cat-verde_oscuro,
        lightcolor: false
        ),
    violeta: (
        background: $cat-violeta,
        lightcolor: false
        ),
    beige: (
        background: $cat-beige,
        lightcolor: true
        ),
    bordo: (
        background: $cat-bordo,
        lightcolor: false
        ),
    verde-limon: (
        background: $cat-verde-limon,
        lightcolor: true
        ),
    rojo: (
        background: $cat-rojo,
        lightcolor: false
        ),
    celeste: (
        background: $cat-celeste,
        lightcolor: false
        ),
    amarillo: (
        background: $cat-amarillo,
        lightcolor: true
        ),
    magent: (
        background: $cat-magenta,
        lightcolor: false
        ),
    azul: (
        background: $cat-azul,
        lightcolor: false
        ),
    verde: (
        background: $cat-verde,
        lightcolor: false
        ),
    cyan: (
        background: $cat-cyan,
        lightcolor: true
        ),
    negro: (
        background: $cat-negro,
        lightcolor: false
        ),
    masterchef: (
        background: $cat-masterchef,
        lightcolor: false
        ),
    arriba-gente: (
        background: $cat-arriba-gente,
        lightcolor: false
        )
    );


@each $category, $category-data in $categories {
    .widget-color-#{$category}{
        &.bg-tv-show{
            .show-video{
                .info-wrapper{
                    background-color: rgba(map-get($category-data, background), 0.85);
                }
            }
        }
    }

    .#{$category}{
        &.tv-show-wrapper{
            .swiper-wrapper{
                .show-video{
                    .info-wrapper{
                        background-color: rgba(darken(map-get($category-data, background), 30%), 0.80);

                        @if $category == masterchef {
                            background-color: rgba(darken(map-get($category-data, background), 50%), 0.90);
                        }

                        @if $category == arriba-gente {
                            background-color: rgba(map-get($category-data, background), 0.80);
                        }

                        span.badge{
                            color: map-get($category-data, background);
                        }
                    }
                }
            }
        }
    }
}
