<div class="about-us">
    <div class="container">
        <div id="carouselAboutUs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col col-sm-4">
                            <figure class="figure">
                                <img src="assets/img/ana.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        <div class="col col-sm-8">
                            <div class="carousel-caption d-none d-md-block">
                                <span class="title">Conocenos</span>
                                <h2 class="name">Annasofía Faccello</h2>
                                <span class="tw-social">
                                    <i class="fa fa-twitter align-middle" aria-hidden="true"></i>
                                    <a class="align-middle" href="#">@annasofiaok</a>
                                </span>
                                <h5 class="description">Comunicadora y locutora</h5>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="" class="btn btn-outline-light">conocé más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col col-sm-4">
                            <figure class="figure">
                                <img src="assets/img/ana.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        <div class="col col-sm-8">
                            <div class="carousel-caption d-none d-md-block">
                                <span class="title">Conocenos</span>
                                <h2 class="name">Annasofía Faccello</h2>
                                <span class="tw-social">
                                    <i class="fa fa-twitter align-middle" aria-hidden="true"></i>
                                    <a class="align-middle" href="#">@annasofiaok</a>
                                </span>
                                <h5 class="description">Comunicadora y locutora</h5>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="" class="btn btn-outline-light">conocé más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col col-sm-4">
                            <figure class="figure">
                                <img src="assets/img/ana.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        <div class="col col-sm-8">
                            <div class="carousel-caption d-none d-md-block">
                                <span class="title">Conocenos</span>
                                <h2 class="name">Annasofía Faccello</h2>
                                <span class="tw-social">
                                    <i class="fa fa-twitter align-middle" aria-hidden="true"></i>
                                    <a class="align-middle" href="#">@annasofiaok</a>
                                </span>
                                <h5 class="description">Comunicadora y locutora</h5>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="" class="btn btn-outline-light">conocé más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col col-sm-4">
                            <figure class="figure">
                                <img src="assets/img/ana.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        <div class="col col-sm-8">
                            <div class="carousel-caption d-none d-md-block">
                                <span class="title">Conocenos</span>
                                <h2 class="name">Annasofía Faccello</h2>
                                <span class="tw-social">
                                    <i class="fa fa-twitter align-middle" aria-hidden="true"></i>
                                    <a class="align-middle" href="#">@annasofiaok</a>
                                </span>
                                <h5 class="description">Comunicadora y locutora</h5>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <a href="" class="btn btn-outline-light">conocé más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselAboutUs" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselAboutUs" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>