<div class="alert-obj">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <span class="alert-title">
                    Alerta
                </span>
            </div>
            <div class="col">
                <h2 class="title align-middle">Selección de Uruguay jugará la China Cup antes del Mundial 2018. Miralo por tv papa!!!</h2>
            </div>
            <div class="col-sm-2">
                <a href="" class="btn btn-outline-light">ir a subrayado</a>
            </div>
        </div>
    </div>
</div>