<div class="container">
    <div class="row">
        <div class="col">
            <div class="banner-970x90 text-center">
                <figure class="figure">
                    <img src="http://via.placeholder.com/970x90" class="figure-img img-fluid" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>