<div class="characters-grid eliminado">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 w-100">
                <h2 class="section-title">
                    Quien será el proximo masterchef?
                </h2>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-3 character">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <img src="http://via.placeholder.com/263x263" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a>Mariana Fernandez</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 character">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <img src="http://via.placeholder.com/263x263" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a>Mariana Fernandez</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 character">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <img src="http://via.placeholder.com/263x263" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a>Mariana Fernandez</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 character">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <img src="http://via.placeholder.com/263x263" class="figure-img img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a>Mariana Fernandez</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
