<section class="video-ranking">
    <h2 class="section-title">Los más vistos</h2>
    <article class="video">
        <div class="row">
            <div class="col col-auto">
                <figure class="figure">
                    <img src="http://via.placeholder.com/120x68" class="img-fluid" alt="...">
                </figure>
            </div>
            <div class="col">
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur</h2>
            </div>
        </div>
    </article>
    <article class="video">
        <div class="row">
            <div class="col col-auto">
                <figure class="figure">
                    <img src="http://via.placeholder.com/120x68" class="img-fluid" alt="...">
                </figure>
            </div>
            <div class="col">
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur</h2>
            </div>
        </div>
    </article>
    <article class="video">
        <div class="row">
            <div class="col col-auto">
                <figure class="figure">
                    <img src="http://via.placeholder.com/120x68" class="img-fluid" alt="...">
                </figure>
            </div>
            <div class="col">
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur</h2>
            </div>
        </div>
    </article>
</section>