<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/">
                    <figure class="figure">
                        <img class="figure-img img-fluid img-rounded" src="./assets/img/logo.svg" alt="Canal 10" width="146" height="39">
                    </figure>
                </a>
            </div>
            <div class="col-md-3">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
                <h2>Programas</h2>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="col-md-2 link-footer">
                <ul>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                    <li><a href="">texto</a></li>
                </ul>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4 link-footer">
                <h2>Contenidos Exclusivos</h2>
                <ul>
                    <li><a href="">TvOnline</a> - <a href="">Montevideo Ciudad</a> - <a href="">Verano 360</a></li>
                </ul>
            </div>
            <div class="col-md-4 link-footer">
                <h2>Contactanos</h2>
                <ul>
                    <li><a href="">Envíanos tu mensaje</a> - <a href="">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-4 link-footer">
                <h2>Departamento Comercial</h2>
                <ul>
                    <li><a href="">Tarifas Canal</a></li>
                </ul>
            </div>
            <div class="w-100"></div>
            <div class="col-md-9 link-footer">
                <h2>Información</h2>
                <ul>
                    <li>Lorenzo Carnelli 1234. CP 11200 Montevideo, Uruguay. Teléfono: (+598) 2410 21 20</li>
                </ul>
            </div>
            <div class="col-md-3">
                <a href="/">
                    <figure class="figure float-right logo-D2">
                        <img class="figure-img img-fluid img-rounded" src="./assets/img/dosalcubo.png" alt="Dos al Cubo">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</footer>
