<div class="live-n-grid">
    <div class="container">
        <div class="row">
            <div class="col col-auto">
                <figure class="live-player figure">
                    <span class="badge">EN VIVO</span>
                    <img src="http://via.placeholder.com/213x130" alt="">
                    <i class="player"></i>
                    <figcaption>Nombre del Programa</figcaption>
                </figure>
            </div>
            <div class="col col-md-5">
                <div class="row">
                    <div class="col col-md-6">
                        <span class="badge">Lo que Sigue</span>
                    </div>
                    <div class="col col-md-6 text-right">
                        <span class="badge">
                            <a href="">ver grilla completa</a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6">
                        <article class="grid-show border-right">
                            <span class="time">10:30</span>
                            <h2 class="show-name">Brenda Johnson Detective</h2>
                        </article>
                    </div>
                    <div class="col col-md-6">
                        <article class="grid-show">
                            <span class="time">12:00</span>
                            <h2 class="show-name">Josué y la tierra prometida</h2>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col">
                <article class="highlight-show">
                    <span class="badge">Esta noche</span>
                    <div class="row">
                        <div class="col col-sm-6">
                            <figure class="figure">
                                <img src="http://via.placeholder.com/164x92" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        <div class="col col-sm-6">
                            <div class="info-wrapper">
                                <span class="time">12:00</span>
                                <h2 class="show-name">Josué y la tierra prometida</h2>
                                <a href="" class="btn btn-outline-secondary">notificarme</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>