<div class="highlight-videos-c-banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Título de video destacado</h2>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <article class="highlight-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/847x477" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <div class="row">
                                <div class="col col-sm-9">
                                    <div class="content-wrapper">
                                        <span class="badge">
                                            <a href="">Chapa chapa</a>
                                        </span>
                                        <h2 class="title">
                                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col col-sm-3">
                                    <div class="btn-wrapper">
                                        <a class="btn btn-outline-dark" href="#" role="button">notificarme</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col col-auto banner-300x250">
                <figure class="figure">
                    <a href="">
                        <img src="http://via.placeholder.com/300x599" class="figure-img img-fluid" alt="">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>