<div class="highlight-videos-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Título de video destacado</h2>
            </div>
            <div class="w-100"></div>
            <div class="col col-md-9">
                <article class="highlight-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/847x477" class="img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <span class="badge">
                                <a href="">Chapa chapa</a>
                            </span>
                            <h2 class="title">
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col-md-3">
                <article class="side-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <span class="badge">
                        <a href="">Chapa chapa</a>
                    </span>
                    <h2 class="title">
                        <a href="">Los titulos</a>
                    </h2>
                </article>
                <article class="side-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <span class="badge">
                        <a href="">Chapa chapa</a>
                    </span>
                    <h2 class="title">
                        <a href="">Los titulos</a>
                    </h2>
                </article>
            </div>
        </div>
    </div>
</div>