<nav class="navbar container detail">
    <!-- region logo -->
    <a class="navbar-brand" href="/">
        <img src="./assets/img/logo.svg" alt="Canal 10" width="123" height="33">
    </a>
    <!-- region navegacion -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tv en Vivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grilla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programas</a>
            </li>
        </ul>
    </div>
</nav>