<nav class="navbar navbar-expand-lg container">
    <!-- region logo -->
    <a class="navbar-brand" href="/">
        <img src="./assets/img/logo.svg" alt="Canal 10" width="146" height="39">
    </a>
    <!-- region navegacion -->
    <button class="navbar-toggler" type="button" data-toggle="menuLeft" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tv en Vivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grilla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programas</a>
            </li>
        </ul>
    </div>
    <!-- region redes sociales y buscador -->
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex social-n-search">
        <li class="nav-item">
            <a class="nav-item nav-link mr-md-2" href="#">
                Newsletter
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Facebook">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
