<div class="other-portal-notes subrayado">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 w-100">
                <div class="row">
                    <div class="col col-md-6">
                        <h2 class="section-title align">
                            Las más Leídas en Subrayado
                        </h2>
                    </div>
                    <div class="col col-md-6 text-right">
                        <span class="more-news-link">
                            <a href="">
                                más noticas en subrayado.com.uy
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <article class="note subrayado">
                    <figure class="figure">
                        <a href="#">
                            <span class="counter">1</span>
                            <img src="http://via.placeholder.com/208x116" class="figure-img img-fluid img-rounded" alt="...">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <a href="#">
                            <h2 class="title">Lorem ipsum dolor sit amet.</h2>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="note subrayado">
                    <figure class="figure">
                        <a href="#">
                            <span class="counter">2</span>
                            <img src="http://via.placeholder.com/208x116" class="figure-img img-fluid img-rounded" alt="...">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <a href="#">
                            <h2 class="title">Lorem ipsum dolor sit amet.</h2>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="note subrayado">
                    <figure class="figure">
                        <a href="#">
                            <span class="counter">3</span>
                            <img src="http://via.placeholder.com/208x116" class="figure-img img-fluid img-rounded" alt="...">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <a href="#">
                            <h2 class="title">Lorem ipsum dolor sit amet.</h2>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="note subrayado">
                    <figure class="figure">
                        <a href="#">
                            <span class="counter">4</span>
                            <img src="http://via.placeholder.com/208x116" class="figure-img img-fluid img-rounded" alt="...">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <a href="#">
                            <h2 class="title">Lorem ipsum dolor sit amet.</h2>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="note subrayado">
                    <figure class="figure">
                        <a href="#">
                            <span class="counter">5</span>
                            <img src="http://via.placeholder.com/208x116" class="figure-img img-fluid img-rounded" alt="...">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <a href="#">
                            <h2 class="title">Lorem ipsum dolor sit amet.</h2>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>