<article class="highlight-shows">
    <div id="carouselHighlightShows" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <figure class="figure w-100">
                    <img src="assets/img/carousel-1.jpg" class="img-fluid w-100">
                    <div class="info-wrapper">
                        <h2 class="title">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        </h2>
                        <a class="btn btn-primary" href="#" role="button">
                            Miralo Ahora</a>
                    </div>
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="figure w-100">
                    <img src="assets/img/carousel-1.jpg" class="img-fluid w-100">
                    <div class="info-wrapper">
                        <h2 class="title">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        </h2>
                        <a class="btn btn-primary" href="#" role="button">
                            Miralo Ahora</a>
                    </div>
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="figure w-100">
                    <img src="assets/img/carousel-1.jpg" class="img-fluid w-100">
                    <div class="info-wrapper">
                        <h2 class="title">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        </h2>
                        <a class="btn btn-primary" href="#" role="button">
                            Miralo Ahora</a>
                    </div>
                </figure>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHighlightShows" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHighlightShows" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</article>