<div class="opening-tv-show">
    <div class="container">
        <div class="row">
            <article class="col">
                <figure class="figure full-width">
                    <img src="assets/img/programadurazno.png" class="img-fluid center-image" alt="">
                    <span data-headerfixed="true"></span>
                </figure>
                <div class="row">
                    <figure class="col-md-3">
                        <img src="assets/img/bendita-logo.png" class="img-fluid center-image vertical-center" alt="">
                    </figure>
                    <div class="info-wrapper col-md-7">
                        <h2 class="title">
                            DOMINGO 22:30 HS
                        </h2>
                        <p class="description">
                            12ª temporada del primer programa de archivo de la televisión uruguaya, con nuevas secciones, un panel de invitados, Vero Piñeyrúa como movilera y los clásicos de siempre.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-secondary">NOTIFICARME</a>
                        <div class="social">
                            <a href="#" target="_blank" rel="noopener" aria-label="Facebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener" aria-label="Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener" aria-label="Instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
