<div class="opening-bomba">
    <div class="container">
        <div class="row">
            <article class="col">
                <figure class="figure w-100">
                    <img src="assets/img/torres-bomba.jpg" class="img-fluid" alt="">
                    <h1 data-headerfixed="true">Atentado Terrorista en Nueva York</h1>
                    <span class="badge">EN VIVO</span>
                </figure>
                <div class="col info-wrapper">
                    <h2 class="title">
                        Se trataría de un ataque terrorista, imágenes del segundo impacto. Evacúan todo el espacio aéreo de EEUU.
                    </h2>
                </div>
            </article>
        </div>
    </div>
</div>