<article class="countdown" style="background-image:url(assets/img/AperturaMuyPronto.jpg)">
    <figure class="figure w-100">
        <div class="info-wrapper">
            <img src="http://via.placeholder.com/280x90" class="img-fluid" alt="">
            <h2 class="title">
                Falta muy poco para la temporada
            </h2>
            <div id="clock" class="clearfix"></div>
            <span class="time">Martes - 22:00</span>

            <a class="btn notificarme" href="#" role="button">
                Notificarme</a>
        </div>
    </figure>
</article>