<article class="opening-live">
    <h1 data-headerfixed="true">Estas Viendo Masterchef</h1>
    <div class="container">
        <div class="layer-login">
            <div class="row">
                <div class="col col-sm-7">
                    <div class="locked-icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <span class="quote">
                        ¿Aún no te registraste? ¡Hacelo ya! ¡Es gratis!
                    </span>
                    <a class="btn btn-outline-light" href="#" role="button">registrate</a>
                </div>
                <div class="col col-sm-5">
                    <div class="layer-login row">
                        <div class="col col-sm-12">
                            <div class="form-title-wrapper row">
                                <div class="col col-sm-6 text-left align-middle">
                                    <h3 class="form-title">Ingresar</h3>
                                </div>
                                <div class="col col-sm-6 text-right align-middle">
                                    <a href="" class="registrarse-link">
                                        Registrarse
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-12">
                            <form>
                                <fieldset class="form-group input-field">
                                    <label for="InputEmail" class="active">Email</label>
                                    <input type="email" class="form-control validate" id="InputEmail">
                                </fieldset>
                                <fieldset class="form-group input-field">
                                    <label for="InputPassword" class="active">Contraseña</label>
                                    <input type="password" class="form-control validate" id="InputPassword">
                                </fieldset>
                                <fieldset>
                                    <a class="password-recovery" href="">¿Olvidaste tu contraseña?</a>
                                </fieldset>
                                <button type="submit" class="btn btn-outline-light mx-auto">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="live-player">
            <video class="player " src="" autoplay="autoplay" poster="assets/img/placeholder-video.jpg"></video>
        </div>
    </div>
</article>