<article class="tonight-show" style="background-image: url('assets/img/carousel-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col col-sm-5 mr-auto">
                <div class="info-wrapper">
                    <div class="content-wrapper">
                        <span class="hour">
                            Hoy a las 12:00
                        </span>
                        <h2 class="show-name">
                            ¿Quien se ha robado mi vida?
                        </h2>
                        <p class="time-left-quote">
                            Faltan 45 minutos para conocer el destino del amor entre Lara y Javier
                        </p>
                        <a class="btn btn-primary" href="#" role="button">Notificarme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>