<div class="container video-player">
    <div class="row">
        <div class="col col-sm-12">
            <div class="video-wrapper">
                <figure class="figure">
                    <video src="" autoplay="autoplay" poster="assets/img/video-poster.png"></video>
                </figure>
                <h2 class="title">Curry Rojo de Calamares y Gambas con Arroz Thai</h2>
                <span class="date-of-issue">Emitido el
                    <time>12-11-17</time>
                </span>
            </div>
        </div>
    </div>
</div>