<div class="portrait-slider content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Programas</h2>
            </div>
            <div class="w-100"></div>

            <div id="carouselportrait" class="carousel slide col" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="figure">
                                    <a href="">
                                        <img src="http://via.placeholder.com/360x586" class="figure-img img-fluid" alt="">
                                    </a>
                                    <div class="info-wrapper">
                                        <h2 class="title">
                                            <a>Leo y sus 10 mandamientos</a>
                                        </h2>
                                        <span class="time">
                                            Martes - 22:30
                                        </span>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselportrait" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselportrait" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>