<div class="premium-carousel">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 w-100">
                <h2 class="section-title">
                    Las más Visto
                </h2>
            </div>
            <div id="premium-carousel" class="col carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col sub-item margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure vip">
                                        <a href="">
                                            <i class="player md"></i>
                                            <img src="http://via.placeholder.com/960x500" class="figure-img img-fluid w-100" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            <a href="">Capitulo 302 - Emitido Ayer</a>
                                        </span>
                                        <h2 class="title">
                                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col sub-item margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure vip">
                                        <a href="">
                                            <i class="player md"></i>
                                            <img src="http://via.placeholder.com/960x500" class="figure-img img-fluid w-100" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            <a href="">Capitulo 302 - Emitido Ayer</a>
                                        </span>
                                        <h2 class="title">
                                            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="carousel-control-prev" href="#premium-carousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#premium-carousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
