<div class="container recommended-videos">
    <div class="row">
        <div class="col col-sm-12">
            <h2 class="section-title">Los Recomendados de Canal 10</h2>
        </div>
        <div class="col col-md-6">
            <article class="show-video">
                <figure class="figure">
                    <a href="">
                        <i class="player md"></i>
                        <img src="http://via.placeholder.com/750x420" class="figure-img img-fluid" alt="">
                    </a>
                    <div class="info-wrapper">
                        <span class="badge">
                            <a href="">Chapa chapa</a>
                        </span>
                        <h2 class="title">
                            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </figure>
            </article>
        </div>
        <div class="col col-md-6">
            <article class="show-video">
                <figure class="figure">
                    <a href="">
                        <i class="player md"></i>
                        <img src="http://via.placeholder.com/750x420" class="figure-img img-fluid" alt="">
                    </a>
                    <div class="info-wrapper">
                        <span class="badge">
                            <a href="">Chapa chapa</a>
                        </span>
                        <h2 class="title">
                            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </figure>
            </article>
        </div>
        <div class="col col-md-6">
            <article class="show-video">
                <figure class="figure">
                    <a href="">
                        <i class="player md"></i>
                        <img src="http://via.placeholder.com/750x420" class="figure-img img-fluid" alt="">
                    </a>
                    <div class="info-wrapper">
                        <span class="badge">
                            <a href="">Chapa chapa</a>
                        </span>
                        <h2 class="title">
                            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </figure>
            </article>
        </div>
        <div class="col col-md-6">
            <article class="show-video">
                <figure class="figure">
                    <a href="">
                        <i class="player md"></i>
                        <img src="http://via.placeholder.com/750x420" class="figure-img img-fluid" alt="">
                    </a>
                    <div class="info-wrapper">
                        <span class="badge">
                            <a href="">Chapa chapa</a>
                        </span>
                        <h2 class="title">
                            <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                        </h2>
                    </div>
                </figure>
            </article>
        </div>
    </div>
</div>