<div class="top-views">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 w-100">
                <h2 class="section-title">
                    Las más Visto
                </h2>
            </div>
            <div id="carousel-ranking" class="col carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 margin-bottom-air-double">
                                <article class="show-video">
                                    <figure class="figure">
                                        <a href="">
                                            <i class="player sm"></i>
                                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                                        </a>
                                    </figure>
                                    <div class="info-wrapper">
                                        <span class="badge">
                                            Hoy en TatoShow
                                        </span>
                                        <h2 class="title">
                                            <a>Los titulos</a>
                                        </h2>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="carousel-control-prev" href="#carousel-ranking" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-ranking" role="button" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>