<div class="tags-n-share">
    <div class="container">
        <div class="row">
            <div class="col col-sm-10">
                <ul class="list-inline tags">
                    <li class="show-name">Masterchef</li>
                    <li class="bullet">&#183;</li>
                    <li class="tag">recetas</li>
                </ul>
            </div>
            <div class="col col-sm-2">
                <ul class="social-shares">
                    <li class="social-item">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>