<div class="widget-special-show content-wrapper" style="background-image:url(assets/img/masterchef.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="">
                    <figure class="figure logo-show">
                        <img src="http://via.placeholder.com/360x90" class="figure-img img-fluid" alt="">
                    </figure>
                </a>
            </div>
            <div class="col-md-8">
                <figure class="figure banner-sponsor">
                    <a href="">
                        <img src="http://via.placeholder.com/750x90" class="figure-img img-fluid" alt="">
                    </a>
                </figure>
            </div>
            <div class="w-100"></div>
            <div class="col-md-8">
                <article class="show-video">
                    <figure class="figure">
                        <i class="player md"></i>
                        <a href="">
                            <img src="http://via.placeholder.com/750x420" class="figure-img img-fluid" alt="">
                        </a>
                        <div class="info-wrapper">
                            <h2 class="title">
                                <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h2>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x315" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a>Los titulos</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a>Los titulos</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col-md-3">
                <article class="show-video">
                    <figure class="figure vip">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a>Los titulos</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col-md-3">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a>Los titulos</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col-md-3">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/260x147" class="figure-img img-fluid" alt="">
                        </a>
                    </figure>
                    <div class="info-wrapper">
                        <h2 class="title">
                            <a>Los titulos</a>
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>