<div class="related-videos-section">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2 class="section-title">Videos Relacionados</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-8">
                <div class="row related-videos">
                    <div class="col col-sm-6">
                        <article class="show-video">
                            <figure class="figure vip">
                                <a href="">
                                    <i class="player sm"></i>
                                    <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                                </a>
                                <span class="badge">recetas</span>
                            </figure>
                            <div class="info-wrapper">
                                <span class="badge">
                                    Hoy en TatoShow
                                </span>
                                <h2 class="title">
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col col-sm-6">
                        <article class="show-video">
                            <figure class="figure vip">
                                <a href="">
                                    <i class="player sm"></i>
                                    <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                                </a>
                                <span class="badge">recetas</span>
                            </figure>
                            <div class="info-wrapper">
                                <span class="badge">
                                    Hoy en TatoShow
                                </span>
                                <h2 class="title">
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="banner-300x250">
                    <a href="">
                        <img src="http://via.placeholder.com/300x250" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row related-videos">
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
            <div class="col col-sm-4">
                <article class="show-video">
                    <figure class="figure">
                        <a href="">
                            <i class="player sm"></i>
                            <img src="http://via.placeholder.com/360x200" class="figure-img img-fluid" alt="">
                        </a>
                        <span class="badge">recetas</span>
                    </figure>
                    <div class="info-wrapper">
                        <span class="badge">
                            Hoy en TatoShow
                        </span>
                        <h2 class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>