<div class="bg-tv-show widget-color-gris" style="background-image: url('assets/img/bg-moises.png')">
    <figure class="figure tv-show">
        <a href="#">
            <img src="assets/img/flayer-moises.png" class="img-fluid" alt="...">
        </a>
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <div class="row">
                    <div class="col text-right">
                        <h3 class="show-link">
                            <a href="">Más de Moises y los 10 mandamientos</a>
                        </h3>
                    </div>
                    <div class="w-100"></div>
                    <div class="col col-sm-4">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <i class="player"></i>
                                    <img class="img-fluid" src="http://via.placeholder.com/260x147" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a href="">Los titulos</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col col-sm-4">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <i class="player"></i>
                                    <img class="img-fluid" src="http://via.placeholder.com/260x147" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a href="">Los titulos</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                    <div class="col col-sm-4">
                        <article class="show-video">
                            <figure class="figure">
                                <a href="">
                                    <i class="player"></i>
                                    <img class="img-fluid" src="http://via.placeholder.com/260x147" alt="">
                                </a>
                            </figure>
                            <div class="info-wrapper">
                                <h2 class="title">
                                    <a href="">Los titulos</a>
                                </h2>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>