$black: #000;
$white: #FFF;
$green: #018782;
$turquise: #0abfb0;
$lightblue: #0095fd;
$darkgray: #292929;
$grisGrilla: #171717;
$blancoGrilla: #ededed;
$rojoVivo: #ff0000;
$grisGrillaColor: #c1c1c1;
$grisGrillaLinea: #464646;
$backgroundgray: #e5e5e5;
$grayFont: #202020;
$almostWhite: #f4f4f4;
$grayLiveLayer: #1c1a1a;
$grayNextProgramGrid: #bcbcbc;
$rojoOscuro: #d00007;
$grayDefault: #333333;
$lila: #a12e4f;
$benditaRojo: #d00007;
$grayDate: #5c5c5c;
$grayDetailVideo: #f5f5f5;
$orange: #F4792A;
// Widget colors
$cat-celeste-vivo: #44c9f6;
$cat-copa-america: #208ac8;
$cat-fucsia: #b60b7c;
$cat-gris: #3f4647;
$cat-naranja: #d89947;
$cat-naranja_fuerte: #D93800;
$cat-rating-cero: #da2c29;
$cat-texto-blanco: #FFFFFF;
$cat-tipo-blanca: #FFFFFF;
$cat-verde-doc: #099;
$cat-verde_oscuro: #4a7a50;
$cat-violeta: #56008D;
$cat-beige: #f7efe4;
$cat-bordo: #402522;
$cat-verde-limon: #efffd3;
$cat-rojo: #d85454;
$cat-celeste: #08b2ee;
$cat-amarillo: #d4ca56;
$cat-magenta: #cc62c8;
$cat-azul: #6081a6;
$cat-verde: #5dc866;
$cat-cyan: #00BCD4;
$cat-negro: #1d1d20;
$cat-masterchef: #f06028;
$cat-arriba-gente: #3673ff;

// Colores mobile
$bg-header: #222222;
