@mixin pxtoem($a, $x) {
  font-size: #{$x / $a}em;
}
@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  backface-visibility: $value;
}
@mixin transform-style($val) {
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  -ms-transform-style: $val;
  transform-style: $val;
}
@mixin transform-translate($val, $val) {
  -webkit-transform: translate($val);
  -moz-transform: translate($val);
  -ms-transform: translate($val);
  transform: translate($val);
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
  @include backface-visibility(hidden);
  @include transform-style(preserve-3d);
}
@mixin aspect-ratio($width, $height) {
  display: block;
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $height / $width * 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@mixin pxtorem($a) {
  font-size: #{$a}px;
  font-size: #{$a * 0.1}rem;
}
@mixin clearfix {
  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
@mixin limit-text-lines($max-lines, $line-height: 1.2em) {
  line-height: $line-height;
  max-height: $max-lines * $line-height;
  overflow: hidden;
}
@mixin aspect($width, $height) {
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 100%;
    padding-top: $height / $width * 100%;
  }

  > a:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}
@mixin vertical-align {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin horizontal-align {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
