/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/work-sans-v3-latin-300.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans Light"), local("WorkSans-Light"), url("../assets/fonts/work-sans-v3-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-300.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-300.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-300.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-300.svg#WorkSans") format("svg");
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/work-sans-v3-latin-regular.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans"), local("WorkSans-Regular"), url("../assets/fonts/work-sans-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-regular.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-regular.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-regular.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-regular.svg#WorkSans") format("svg");
}
/* work-sans-500 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/work-sans-v3-latin-500.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans Medium"), local("WorkSans-Medium"), url("../assets/fonts/work-sans-v3-latin-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-500.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-500.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-500.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-500.svg#WorkSans") format("svg");
}
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/work-sans-v3-latin-600.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans SemiBold"), local("WorkSans-SemiBold"), url("../assets/fonts/work-sans-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-600.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-600.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-600.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-600.svg#WorkSans") format("svg");
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/work-sans-v3-latin-700.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans Bold"), local("WorkSans-Bold"), url("../assets/fonts/work-sans-v3-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-700.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-700.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-700.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-700.svg#WorkSans") format("svg");
}
/* work-sans-800 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/work-sans-v3-latin-800.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src: local("Work Sans ExtraBold"), local("WorkSans-ExtraBold"), url("../assets/fonts/work-sans-v3-latin-800.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans-v3-latin-800.woff2") format("woff2"), url("../assets/fonts/work-sans-v3-latin-800.woff") format("woff"), url("../assets/fonts/work-sans-v3-latin-800.ttf") format("truetype"), url("../assets/fonts/work-sans-v3-latin-800.svg#WorkSans") format("svg");
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../assets/fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../assets/fonts/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../assets/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../assets/fonts/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../assets/fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../assets/fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../assets/fonts/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
