// Fuentes
$work-sans: 'Work Sans', Helvetica, Arial, Sans-Serif;
$roboto: 'Roboto', Helvetica, Arial, Sans-Serif;

// Separaciones
$air: 10px;
$air-double: $air * 2;
$air-half: $air / 2;
$air-plus: $air + $air-half;

// Media Query

$screen-xl-min: 1200px;
$screen-lg-max: 1199px;
$screen-lg-min: 992px;
$screen-md-max: 991px;
$screen-md-min: 768px;
$screen-sm-max: 767px;
$screen-sm-min: 576px;
$screen-xs-max: 575px;

// btn player size

$player-md: 60px;
$player-sm: 45px;
